html {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

html, body, .scroll {
    -webkit-overflow-scrolling: touch;
}

#app::-webkit-scrollbar, #app::-webkit-scrollbar-thumb {
    background-color: transparent !important;
    width: 0;
}

#app::-webkit-scrollbar-thumb {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    width: 0;   
}

button {
    -moz-transform: translateZ(1);
    -ms-transform: translateZ(1);
    -o-transform: translateZ(1);
    -webkit-transform: translateZ(1);
    transform: translateZ(1);
}
