@font-face {
    font-family: 'CopseRegular';
    src: url('../fonts/Copse-Regular-webfont.eot');
    src: url('../fonts/Copse-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Copse-Regular-webfont.woff') format('woff'), url('../fonts/Copse-Regular-webfont.ttf') format('truetype'), url('../fonts/Copse-Regular-webfont.svg#CopseRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GreatVibesRegular';
    src: url('../fonts/GreatVibes-Regular-webfont.eot');
    src: url('../fonts/GreatVibes-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/GreatVibes-Regular-webfont.woff') format('woff'), url('../fonts/GreatVibes-Regular-webfont.ttf') format('truetype'), url('../fonts/GreatVibes-Regular-webfont.svg#GreatVibesRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;
    background: #986B31 url('../images/app/background-texture.jpg') repeat;
}

h1, h2, h3, h4, h5, h6 {
    font-family: cambria!important;
    font-weight: normal;
    color: #986B31;
    -webkit-text-shadow: 0px 0px 1px #986B31;
    text-shadow: 0px 0px 1px #986B31;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: .9em;
}

h4 {
    font-size: .8em;
}

h5 {
    font-size: .7em;
}

#app {
    position: absolute;
    /*
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
        */
    width: 100%;
    height: 100%;
    background: url('../images/app/background.jpg') no-repeat;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

#splash {
    width: 300px;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
    color: #713b00;
}

.loader {
    color: #713b00;
    margin: 6px 8px 4px 8px;
    visibility: hidden;
    position: relative;
    z-index: 2;
}

    .loader.active {
        visibility: visible;
    }

.loadingIndicator {
    position: absolute;
    top: 0.1em;
    left: 0.1em;
    font: 0.8em Arial;
    background-color: #229;
    color: White;
    padding: 0.2em 0.5em 0.2em 0.5em;
    display: none;
}

.logo {
    background: url('../images/app/title/logo.png') no-repeat;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}

#login-page .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 2em;
}

    #login-page .background.logo {
        background-position: top center;
    }

    #login-page .background.footer {
        background: url('../images/footer.png') no-repeat;
        background-position: bottom center;
        -moz-background-size: 100% auto;
        -o-background-size: 100% auto;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
    }

#game-main {
    position: relative;
    background-image: url('../images/app/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

    #game-main canvas {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0px;
        top: 0px;
        z-index: 1;
    }

    #game-main .logo {
        position: absolute;
        top: 0;
        width: 100%;
        height: 80px;
        margin-top: 10px;
        -moz-background-size: auto 100%;
        -o-background-size: auto 100%;
        -webkit-background-size: auto 100%;
        background-size: auto 100%;
        background-position: center top;
        z-index: 1;
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
    }

        #game-main .logo.loading {
            top: 100px;
            height: 200px;
            -moz-transform: rotateY(360deg);
            -ms-transform: rotateY(360deg);
            -o-transform: rotateY(360deg);
            -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
        }

    #game-main hr {
        border: 0;
        height: 5px;
        position: relative;
        margin: 5px 0; /* Keep other elements away from pseudo elements*/
    }

        #game-main hr:before {
            top: -0.5em;
            /*height: 1em;*/
        }

        #game-main hr:after {
            content: '';
            /*height: 0.5em;*/
            top: 1px;
        }

        #game-main hr:before, hr:after {
            content: '';
            position: absolute;
            width: 100%;
        }

        #game-main hr, #game-main hr:before {
            background: -moz-radial-gradient(center, ellipse cover, rgba(152, 107, 49,0.3) 0%, rgba(152, 107, 49,0) 75%);
            background: -webkit-radial-gradient(center, ellipse cover, rgba(152, 107, 49,0.3) 0%,rgba(152, 107, 49,0) 75%);
            background: -o-radial-gradient(center, ellipse cover, rgba(152, 107, 49,0.3) 0%,rgba(152, 107, 49,0) 75%);
            background: -ms-radial-gradient(center, ellipse cover, rgba(152, 107, 49,0.3) 0%,rgba(152, 107, 49,0) 75%);
            background: radial-gradient(ellipse at center, rgba(152, 107, 49,0.3) 0%,rgba(152, 107, 49,0) 75%);
        }


#palette-right, #palette-left {
    -moz-transition: .3s top ease-in-out;
    -o-transition: .3s top ease-in-out;
    -webkit-transition: .3s top ease-in-out;
    transition: .3s top ease-in-out;
}

.palette {
    top: 100px;
    position: fixed;
    z-index: 99;
}

#palette-left {
    left: 20px;
}

#palette-right, .palette.right {
    right: 20px;
}


#players {
    position: absolute;
    top: 10px;
    right: 20px;
}

.player {
    float: left;
    margin-left: 20px;
    color: #996b2d;
}

    .player .decoration {
        position: relative;
        height: 48px;
        background-image: url('../images/game/score-background.png');
        background-position: center center;
        background-repeat: no-repeat;
        -moz-background-size: auto 100%;
        -o-background-size: auto 100%;
        -webkit-background-size: auto 100%;
        background-size: auto 100%;
        min-width: 80px;
    }

        .player .decoration .score {
            position: absolute;
            right: 0;
            bottom: 5px;
            left: 0;
            text-align: center;
        }

    .player .name {
        text-align: center;
    }

#gameboard {
    position: relative;
    width: 100%;
}

    #gameboard .ui-overlay {
        background: #666;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 100;
        -moz-box-shadow: 5px 5px 10px 0 #976b2c;
        -webkit-box-shadow: 5px 5px 10px 0 #976b2c;
        box-shadow: 5px 5px 10px 0 #976b2c;
        display: none;
    }

#tiles-max {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 70px 0 80px; /*in portrait mode the tiles wont get stuck on the edges*/
    -moz-transition: padding-top 1s;
    -o-transition: padding-top 1s;
    -webkit-transition: padding-top 1s;
    transition: padding-top 1s;
}

    #tiles-max > #tiles-aspect {
        min-width: 600px;
        position: relative;
        padding-bottom: 75%;
        width: 100%;
    }

@media screen and (max-width: 900px) {
    #tiles-max {
        padding-top: 80px;
        height: 450px;
    }

        #tiles-max > #tiles-aspect {
            height: 450px;
            padding-bottom: 0;
        }
}

#tiles {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

    #tiles .container {
        position: relative;
        width: 100%;
        height: 100%;
    }

    #tiles .tile {
        position: absolute;
        z-index: 3;
        width: 160px;
        height: 160px;
        cursor: pointer!important;
        left: 50%;
        top: 50%;
        margin-left: -80px;
        margin-top: -80px;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transition: left .5s ease-in-out, top .5s ease-in-out, height .5s ease-in-out, width .5s ease-in-out;
        -o-transition: left .5s ease-in-out, top .5s ease-in-out, height .5s ease-in-out, width .5s ease-in-out;
        -webkit-transition: left .5s ease-in-out, top .5s ease-in-out, height .5s ease-in-out, width .5s ease-in-out;
        transition: left .5s ease-in-out, top .5s ease-in-out, height .5s ease-in-out, width .5s ease-in-out;
    }

        #tiles .tile.active {
            height: 100%;
            width: 100%;
            top: 80px !important;
            z-index: 4;
        }

            #tiles .tile.active .instruction, .carry .instruction:hover {
                left: 50%;
                top: 10px;
                opacity: 0;
            }

        #tiles .tile.drag {
            -moz-transition: none!important;
            -o-transition: none!important;
            -webkit-transition: none!important;
            transition: none!important;
        }

        #tiles .tile .mask {
            position: relative;
            z-index: 4;
            border-radius: 50%;
            box-shadow: 5px 5px 10px 0 #333;
            border: 5px solid #fff;
            width: 100%;
            height: 100%;
            background-position: left center;
            background-repeat: no-repeat;
            -moz-background-size: auto 100%;
            -o-background-size: auto 100%;
            -webkit-background-size: auto 100%;
            background-size: auto 100%;
            -moz-transition: height .5s ease-in-out, width .5s ease-in-out;
            -o-transition: height .5s ease-in-out, width .5s ease-in-out;
            -webkit-transition: height .5s ease-in-out, width .5s ease-in-out;
            transition: height .5s ease-in-out, width .5s ease-in-out;
        }

            #tiles .tile .mask .big {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                -moz-background-size: cover;
                -o-background-size: cover;
                -webkit-background-size: cover;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 100%;
            }

        #tiles .tile .instruction {
            -moz-transition: left .5s ease-in-out, top .5s ease-in-out, opacity .5s ease-in-out;
            -o-transition: left .5s ease-in-out, top .5s ease-in-out, opacity .5s ease-in-out;
            -webkit-transition: left .5s ease-in-out, top .5s ease-in-out, opacity .5s ease-in-out;
            transition: left .5s ease-in-out, top .5s ease-in-out, opacity .5s ease-in-out;
        }

            #tiles .tile .instruction .help, body .instruction .help {
                position: absolute;
                content: "";
                top: 15px;
                right: 0px;
                background-image: url(../images/game/Help_Btn_Up.png);
                -moz-background-size: 100% 100%;
                -o-background-size: 100% 100%;
                -webkit-background-size: 100% 100%;
                background-size: 100% 100%;
                width: 25px;
                height: 25px;
                cursor: pointer;
            }

                #tiles .tile .instruction .help:hover, body .instruction .help:hover {
                    background-image: url(../images/game/Help_Btn_Down.png);
                }

        #tiles .tile .instruction, body .instruction {
            z-index: 5;
            position: absolute;
            top: -30px;
            left: 10px;
            width: 80px;
            height: 50px;
            background-color: rgba(255, 255, 255, 0.9);
            padding: 10px 20px 0 20px;
            border-radius: 50%;
            -webkit-box-shadow: 0 0 5px 5px rgba(255, 255, 255, 1);
            box-shadow: 0 0 5px 5px rgba(255, 255, 255, 1);
            text-align: center;
            line-height: 100%;
            font-family: CopseRegular;
            font-size: medium;
            color: #296e8b;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-font-smoothing: antialiased;
            -webkit-text-shadow: 0px 0px 1px #bad7e4;
            text-shadow: 0px 0px 1px #bad7e4;
        }

            #tiles .tile .instruction .info, body .instruction .info {
                margin-top: 5px;
                font-family: GreatVibesRegular;
                font-weight: bold;
                font-size: large;
            }

        #tiles .tile .rest {
            position: absolute;
            z-index: 5;
            right: -30px;
            top: 0;
            visibility: hidden;
        }

        #tiles .tile:hover .rest {
            visibility: visible;
        }

        #tiles .tile .rest .thumbnail {
            margin-bottom: 3px;
            border: 3px solid white;
            border-radius: 100%;
            width: 40px;
            height: 40px;
            -moz-background-size: 100% 100%;
            -o-background-size: 100% 100%;
            -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
        }

            #tiles .tile .rest .thumbnail:hover {
                border-color: orange;
            }

            #tiles .tile .rest .thumbnail:last-child {
                margin-bottom: 0;
            }

        #tiles .tile .control {
            visibility: hidden;
            position: absolute;
            top: 50px;
            left: 0px;
            width: 60px;
            height: 70px;
            z-index: 5;
            background-color: white;
            border-radius: 100%;
            color: #976b2c;
        }

        #tiles .tile:hover .control {
            visibility: visible;
        }

    #tiles.woz .mask {
        background-image: url('../images/tiles/woz.jpg');
    }

    #tiles.nf .mask {
        background-image: url('../images/tiles/nf.jpg');
    }

#workspace {
    position: relative;
    width: auto;
    height: 500px;
    /*padding: 10px;*/
}



.magnet {
    position: absolute !important;
    z-index: 4;
    padding: 2px 4px;
    border: 1px solid #e8e0d3;
    background-color: #fff;
    -moz-box-shadow: 1px 1px 2px #333, inset -1px -1px 4px #ccc;
    -ms-box-shadow: 1px 1px 2px #333, inset -1px -1px 4px #ccc;
    -o-box-shadow: 1px 1px 2px #333, inset -1px -1px 4px #ccc;
    -webkit-box-shadow: 1px 1px 2px #333, inset -1px -1px 4px #ccc;
    box-shadow: 1px 1px 2px #333, inset -1px -1px 4px #ccc;
    color: #38270b;
    font-size: 22px;
    font-family: CopseRegular;
    cursor: pointer;
    -moz-transition-duration: .2s,.2s,0,0,0;
    -o-transition-duration: .2s,.2s,0,0,0;
    -webkit-transition-duration: .2s,.2s,0,0,0;
    -moz-transition-property: all, box-shadow, opacity, width, height;
    -o-transition-property: all, box-shadow, opacity, width, height;
    -webkit-transition-property: all, box-shadow, opacity, width, height;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    transition-duration: .2s,.2s,0,0,0;
    transition-property: all, box-shadow, opacity, width, height;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

    .magnet.related {
        border-width: 2px;
        -moz-box-shadow: 0 0 15px #f5cf76,1px 1px 2px #333, inset -1px -1px 4px #f1a460;
        -webkit-box-shadow: 0 0 15px #f5cf76,1px 1px 2px #333, inset -1px -1px 4px #f1a460;
        box-shadow: 0 0 15px #f5cf76,1px 1px 2px #333, inset -1px -1px 4px #f1a460;
        border: 1px solid #f5cf76;
    }

    .magnet.selected {
        border-width: 2px;
        -moz-box-shadow: 0 0 15px #986B31,1px 1px 2px #333, inset -1px -1px 4px #963;
        -webkit-box-shadow: 0 0 15px #986B31,1px 1px 2px #333, inset -1px -1px 4px #963;
        box-shadow: 0 0 15px #986B31,1px 1px 2px #333, inset -1px -1px 4px #963;
        border: 1px solid #986B31;
        border-radius: 3px;
    }

    .magnet .points {
        position: absolute;
        top: -10px;
        right: -10px;
        font-size: 12px;
        width: 20px;
        background-color: white;
        border-radius: 50%;
        border: 1px solid #e8e0d3;
        text-align: center;
        padding-right: 3px;
        z-index: 2;
    }

    .magnet.drag {
        -moz-transform: scale(1.1)!important;
        -ms-transform: scale(1.1)!important;
        -o-transform: scale(1.1)!important;
        -webkit-transform: scale(1.1)!important;
        transform: scale(1.1)!important;
        -moz-transition: all 0;
        -o-transition: all 0;
        -webkit-transition: all 0;
        transition: all 0;
        /*-webkit-box-shadow: 7px 7px 7px #444, inset -1px -1px 4px #ccc;
        box-shadow: 7px 7px 7px #444, inset -1px -1px 4px #ccc;*/
    }

    .magnet:hover:not(.drag):not(:active):not(.placed) {
        -moz-transform: scale(1.05)!important;
        -ms-transform: scale(1.05)!important;
        -o-transform: scale(1.05)!important;
        -webkit-transform: scale(1.05)!important;
        transform: scale(1.05)!important;
        border-color: #b8b0a3;
        border-radius: 4px;
    }

    .magnet.placed {
        cursor: default!important;
    }

#tiles .magnet {
}

.magnet-placeholder {
    position: absolute;
    width: 43px;
    height: 23px;
    -moz-transition: all .4s ease, top .5s ease-out, left .5s ease-out;
    -o-transition: all .4s ease, top .5s ease-out, left .5s ease-out;
    -webkit-transition: all .4s ease, top .5s ease-out, left .5s ease-out;
    transition: all .4s ease, top .5s ease-out, left .5s ease-out;
}

    .magnet-placeholder .circle {
        margin: 0 auto;
        border-radius: 100%;
        width: 15px;
        height: 15px;
        margin-top: 4px;
        background-color: #CBB28F;
    }

    .magnet-placeholder .box {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 1px solid #CBB28F;
        border-radius: 2px;
        color: #38270b;
        font-size: 16px;
        padding-top: 2px;
        font-family: CopseRegular;
        text-align: center;
    
        /* background-color: black; */
        /* z-index: -7; */
}

    .magnet-placeholder.hover .box, .magnet-placeholder.hover .circle {
        box-shadow: 0 0 15px #986B31, 0 0 15px #986B31 inset;
    }


.button-small {
    font-weight: bold;
    font-size: small;
    padding: 5px;
    border: 2px solid #fff;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 20px 10px 20px 20px;
    text-align: center;
    background-image: url('../images/button-background-up.jpg');
}

    .button-small:active, .button-small.active {
        background-image: url('../images/button-background-down.jpg');
    }

    .button-small:disabled, .button-small.disabled {
        background-image: url('../images/button-background-disabled.jpg');
    }

    .button-small:hover {
        transform: scale(1.1);
        transition: all .2s ease-in-out;
    }



.ui-overlay {
    background: #666;
    opacity: .3;
}

    .ui-overlay.fullscreen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

.popup-dialog-container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
    height: 100px;
}

    .popup-dialog-container .popup-dialog {
        background: #fff;
        border: 2px solid #d7bea2;
        -moz-box-shadow: 3px 3px 3px rgba(87, 70, 47, 0.5);
        -ms-box-shadow: 3px 3px 3px rgba(87, 70, 47, 0.5);
        -o-box-shadow: 3px 3px 3px rgba(87, 70, 47, 0.5);
        -webkit-box-shadow: 3px 3px 3px rgba(87, 70, 47, 0.5);
        box-shadow: 3px 3px 3px rgba(87, 70, 47, 0.5);
        border-radius: 8px;
        text-align: center;
        padding: 20px 20px 20px 20px;
        color: rgba(152, 107, 49, 1);
    }

        .popup-dialog-container .popup-dialog h1 {
            font-weight: normal;
            font-size: 1.5em;
            white-space: nowrap;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        .popup-dialog-container .popup-dialog.login {
            position: relative;
            margin-left: auto;
            margin-right: auto;
            width: 25em;
        }

.block {
    display: block;
}

.link {
    cursor: pointer;
}

.space {
    margin: 1em;
}

.agreement {
    margin-top: 1em;
}

a.big {
    font-size: 1.2em;
    font-weight: bold;
}

a.small {
}

.confirm-box {
    position: absolute;
    width: 80px;
    height: 80px;
    z-index: 5;
    -moz-transition: left .5s 1s ease, top .5s 1s ease;
    -o-transition: left .5s 1s ease, top .5s 1s ease;
    -webkit-transition: left .5s 1s ease, top .5s 1s ease;
    transition: left .5s 1s ease, top .5s 1s ease;
}

    .confirm-box.ready {
        -moz-transition-delay: 0;
        -o-transition-delay: 0;
        -webkit-transition-delay: 0;
        transition-delay: 0;
    }

    .confirm-box .button {
        position: absolute;
        text-align: center;
        background-image: url('../images/game/Checkmark_Btn_Test2.png');
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        width: 80px;
        height: 80px;
        top: 0;
        left: 0;
        cursor: pointer;
        -moz-transition: all 10s ease;
        -o-transition: all 10s ease;
        -webkit-transition: all 10s ease;
        transition: all 10s ease;
    }

    .confirm-box .tooltip {
        position: relative;
        text-align: center;
        top: -120px;
        left: -30px;
        width: 80px;
        padding: 20px 30px;
        border-radius: 50% 50% 50% 50%;
        background-color: rgba(255, 255, 255, 0.9);
        -moz-box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.9);
        -ms-box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.9);
        -o-box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.9);
        -webkit-box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.9);
        box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.9);
        color: #b49363;
        font-family: CopseRegular;
    }

        .confirm-box .tooltip.cw {
            top: 100px !important;
        }

/*#region Icons */

.action-icons {
    background: #faf5ef;
    padding: 5px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.normal-icons {
    margin: 2px;
}

.icon {
    margin-bottom: 5px;
    border: 1px solid transparent;
    border-radius: 3px;
    -moz-transition: background-color .5s ease, opacity .5s ease;
    -o-transition: background-color .5s ease, opacity .5s ease;
    -webkit-transition: background-color .5s ease, opacity .5s ease;
    transition: background-color .5s ease, opacity .5s ease;
}

    .icon:hover:not(.disabled) {
        border: 1px solid #b8b0a3;
    }

    .icon.disabled:not(.cancel) {
        opacity: 0.4;
        filter: alpha(opacity=40);
        background-color: #000;
    }

        .icon.disabled:not(.cancel) i {
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            filter: grayscale(100%);
        }

    .icon.cancel, .icon.disabled {
        border-color: #faf5ef;
    }

    .icon.cancel {
        opacity: 0.9;
        filter: alpha(opacity=90); /* msie */
        background-color: #f0323f;
    }

    .icon:last-child {
        margin-bottom: 0;
    }

    .icon i, .palette i {
        background-repeat: no-repeat;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        width: 40px;
        height: 40px;
        display: block;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        cursor: pointer;
    }

        .icon i:not(:empty) {
            display: table-cell;
            vertical-align: middle;
            background-color: #bad7e4;
            border-radius: 3px;
            text-align: center;
        }

            .icon i:not(:empty):hover, .icon i:not(:empty):active {
                background-color: #8ab;
            }

    .icon.cancel i:not(:empty) {
        -moz-transform: rotateY(360deg)!important;
        -ms-transform: rotateY(360deg)!important;
        -o-transform: rotateY(360deg)!important;
        -webkit-transform: rotateY(360deg)!important;
        transform: rotateY(360deg)!important;
        background-color: orange;
    }

    .icon.cancel i {
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }


    .icon.action {
    }

    .icon i.save {
        background-color: pink;
    }

    .icon:active i.save, .icon:hover i.save {
        background-color: hotpink;
    }

    .icon i.swap-words {
        background-image: url('../images/game/swap-words-icon.png');
    }

    .icon:active:not(.disabled):not(.cancel) i.swap-words, .icon:hover:not(.disabled):not(.cancel) i.swap-words {
        background-image: url('../images/game/swap-words-icon-active.png');
    }

    .icon.disabled i.swap-words {
        background-image: url('../images/game/swap-words-icon-disabled.png');
    }

    .icon.cancel i.swap-words {
        background-image: url('../images/game/swap-words-icon-cancel.png');
    }

    .icon i.circle-words {
        background-image: url('../images/game/add-tile-icon.png');
    }

    .icon:active:not(.disabled) i.circle-words, .icon:hover:not(.disabled) i.circle-words {
        background-image: url('../images/game/add-tile-icon-active.png');
    }

    .icon i.swap-tiles {
        background-image: url('../images/game/swap-tile-icon.png');
    }

    .icon:active:not(.disabled) i.swap-tiles, .icon:hover:not(.disabled) i.swap-tiles {
        background-image: url('../images/game/swap-tile-icon-active.png');
    }

    .icon i.resign {
        background-image: url('../images/game/end-game-icon.png');
    }

    .icon:active:not(.disabled) i.resign {
        background-image: url('../images/game/end-game-icon-active.png');
    }

i.disabled {
    cursor: default;
}

i.menu {
    height: 22px !important;
    width: 40px!important;
    background-image: url('../images/game/Menu_Btn_Up.png');
}

    i.menu:active:not(.disabled), i.menu:hover:not(.disabled) {
        background-image: url('../images/game/Menu_Btn_Down.png');
    }

/*#endregion */




.dialog {
    position: fixed;
    z-index: 100;
    font-family: CopseRegular;
    -webkit-font-smoothing: antialiased;
}
.dialog.low{
    z-index:99;
}

    .dialog.absolute {
        position: absolute;
    }

    .dialog.bottom-center {
        bottom: 0;
        width: 100%;
        text-align: center;
    }

    .dialog.top-center {
        top: 0;
        width: 100%;
        text-align: center;
        height: 0px;
    }

    .dialog.top-left {
        top: 0;
        left: 0;
    }

    .dialog.top-right {
        top: 0;
        right: 0;
    }

    .dialog.modal .ui-overlay {
        /*background: #666 url('../images/overlay.png') 50% 50% repeat;*/
        background: #666;
        z-index: 9;
        opacity: .3;
        filter: alpha(opacity=30);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        position: fixed;
    }

        .dialog.modal .ui-overlay.pale {
            background-color: #aaa;
        }

        .dialog.modal .ui-overlay.transparent {
            background-color: transparent;
        }

    .dialog .loading {
        position: relative;
        z-index: 11;
        margin: 0 auto;
        width: 350px;
        height: 70px;
        text-align: center;
        top: 250px;
        color: #713b00;
    }

    .dialog .alert {
        position: relative;
        z-index: 11;
        /*margin: 0 90px;*/
        padding: 20px 30px;
        border-radius: 50% 50% 50% 50%;
        background-color: rgba(255, 255, 255, 0.9);
        -moz-box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.9);
        -ms-box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.9);
        -o-box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.9);
        -webkit-box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.9);
        box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.9);
        color: #b49363;
        font-size: xx-large;
        max-width: 400px;
        margin: 0 auto;
    }

    .dialog .confirm {
        position: relative;
        z-index: 11;
        margin: 0 auto;
        width: 250px;
        background-image: url('../images/app/confirm/confirm-background.png');
        background-position: center bottom;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        text-align: center;
        color: #976b2c;
        line-height: 120%;
        padding: 10px;
    }

        .dialog .confirm p {
            padding: 5px 0;
        }

    .dialog button {
        font-weight: bold;
        font-size: small;
        border: 2px solid #fff;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        margin: 10px 5px;
        padding: 7px 10px;
        text-align: center;
        background-image: url('../images/button-background-up.jpg');
        color: #976b2c;
    }

    .dialog .slipper {
        position: relative;
        z-index: 11;
        margin: 0 auto;
        width: 555px;
        top: -30px;
        background-image: url('../images/app/dialogs/background.png');
        background-position: center bottom;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        text-align: center;
        color: #976b2c;
        line-height: 120%;
        padding: 40px 30px 20px 30px;
        cursor: pointer;
        -moz-transition: width .5s ease, padding .5s ease;
        -o-transition: width .5s ease, padding .5s ease;
        -webkit-transition: width .5s ease, padding .5s ease;
        transition: width .5s ease, padding .5s ease;
    }

        .dialog .slipper .btnCommand {
            position: absolute;
            bottom: 20px;
            right: 20px;
            width: 30px;
            height: 18px;
            background-image: url('../images/game/ArrowMinimize_Btn.png');
            -moz-background-size: 100% 100%;
            -o-background-size: 100% 100%;
            -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
            -moz-transition: all .5s .1s ease-in-out;
            -o-transition: all .5s .1s ease-in-out;
            -webkit-transition: all .5s .1s ease-in-out;
            transition: all .5s .1s ease-in-out;
            cursor: pointer;
        }

        .dialog .slipper .content {
            font-size: .95em;
        }

        .dialog .slipper h1 {
            font-family: cambria!important;
            font-size: 1.2em;
            font-weight: bold;
            margin-bottom: 10px;
            -webkit-text-shadow: 0px 0px 1px #c95;
            text-shadow: 0px 0px 1px #c95;
            -moz-transition: all .5s ease;
            -o-transition: all .5s ease;
            -webkit-transition: all .5s ease;
            transition: all .5s ease;
        }

        .dialog .slipper.minimized {
            width: 300px;
            padding-top: 35px;
            padding-bottom: 10px;
        }

            .dialog .slipper.minimized .btnCommand {
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }

            .dialog .slipper.minimized .content {
                display: none;
            }

            .dialog .slipper.minimized h1 {
                font-weight: bold;
                font-size: 1.0em;
                margin-bottom: 0px;
            }

    .dialog .menu {
        position: relative;
        z-index: 11;
        margin: 0 auto;
        width: 150px;
        right: -10px;
        background-image: url('../images/app/menu.png');
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        text-align: center;
        color: #976b2c;
        line-height: 120%;
        padding: 2em 0 2em 1.5em;
        cursor: pointer;
    }

    .dialog .control {
        position: absolute;
        z-index: 3;
        width: 45px;
        margin-left: -15px;
        margin-top: -40px;
        background-color: white;
        text-align: center;
        color: #976b2c;
        padding: 5px 7px;
        cursor: pointer;
        border-radius: 5px;
        box-shadow: 2px 2px 5px gray;
        -webkit-text-shadow: 0px 0px 1px #999;
        text-shadow: 0px 0px 1px #999;
    }

        .dialog .control .nWords {
            float: left;
            width: 30px;
        }

        .dialog .control .btnDel, .control .btnDel {
            float: left;
            width: 10px;
            font-family: CopseRegular;
            font-size: 1.5em;
        }

        .dialog .control .btnCW {
            float: left;
            width: 10px;
            font-family: CopseRegular;
            font-size: 0.6em;
        }

        .dialog .control .up, .dialog .control .down, .control .up, .control .down {
            float: left;
            width: 30px;
            height: 9px;
            background-image: url('../images/game/ArrowMinimize_Btn.png');
            background-position: center center;
            background-repeat: no-repeat;
            -moz-background-size: 15px 9px;
            -o-background-size: 15px 9px;
            -webkit-background-size: 15px 9px;
            background-size: 15px 9px;
        }

        .dialog .control .down, .control .down {
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }

        .dialog .control .number, .control .number {
            width: 30px;
            text-align: center;
            float: left;
            font-family: CopseRegular;
            font-size: 1.5em;
        }

    .dialog .window {
        position: relative;
        margin: 0 auto;
        z-index: 11;
        width: 240px;
        background-color: white;
        text-align: left;
        color: #39280C;
        padding: 10px 30px;
        cursor: pointer;
        border-radius: 5px;
        box-shadow: 2px 2px 5px gray;
        -webkit-text-shadow: 0px 0px 1px #999;
        text-shadow: 0px 0px 1px #999;
        font-family:Cambria;
    }

        .dialog .window .close {
            display: block;
            position: absolute;
            top: 10px;
            right: 10px;
            background-image: url('../images/game/Close_Btn.png');
            -moz-background-size: 100% 100%;
            -o-background-size: 100% 100%;
            -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
            width: 16px;
            height: 16px;
        }

        .dialog .window h1 {
            font-size: 1em;
            font-family:CopseRegular;
            margin-bottom: 5px;
        }

    .dialog .notice {
        position: relative;
        top: 200px;
        z-index: 11;
        margin: 0 auto;
        width: 379px;
        min-height: 177px;
        background-image: url('../images/app/notice-background.png');
        background-repeat: no-repeat;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        text-align: center;
        color: #976b2c;
        line-height: 140%;
        padding: 2em;
        cursor: pointer;
        font-family: cambria;
    }

        .dialog .notice h1 {
            font-family: cambria;
            font-size: 2em;
            margin-bottom: 20px;
        }

        .dialog .notice > div {
            font-size: 1.2em;
        }

        .dialog .notice .strong {
            font-weight: bold;
        }

        .dialog .notice button {
            font-size: 1em;
        }


@media (min-resolution: 100dppx) {
    .dialog .confirm {
        width: 400px!important;
        height: 140px;
    }

        .dialog .confirm button {
            padding: 14px 20px;
        }
}

/*#region Form - controls */

input[type="checkbox"], input[type="radio"] {
    position: absolute;
    display: none;
}

    input[type="checkbox"] + span {
        display: inline-block;
        width: 3em;
        height: 1em;
        border: 2px solid #cfa972;
        border-radius: 1em;
        margin: 0 .5em;
        /*margin-top: 1.2em;*/
        padding: 1px;
        overflow: hidden;
        background-image: linear-gradient(90deg, #f5cf76 50%, #e5d7bd 50%), linear-gradient(rgba(0,0,0,.1), transparent);
        -moz-background-size: 200% 100%;
        -o-background-size: 200% 100%;
        -webkit-background-size: 200% 100%;
        background-size: 200% 100%;
        background-position: 100% 0;
        -moz-transition-duration: .4s;
        -o-transition-duration: .4s;
        -webkit-transition-duration: .4s;
        transition-duration: .4s;
        -moz-transition-property: padding, width, background-position, text-indent, box-shadow;
        -o-transition-property: padding, width, background-position, text-indent, box-shadow;
        -webkit-transition-property: padding, width, background-position, text-indent, box-shadow;
        transition-property: padding, width, background-position, text-indent, box-shadow;
        box-shadow: 0 .1em .1em rgba(0,0,0,.2) inset, 0 .3em 0 .1em rgba(0,0,0,.05) inset;
        float: right;
    }

    input[type="checkbox"]:checked + span {
        padding-left: 2em;
        width: 1em;
        background-position: 0 0;
        box-shadow: 0 .1em .1em rgba(255,255,255,.2) inset, 0 .3em 0 .1em rgba(255,255,255,.2) inset;
    }

    input[type="checkbox"] + span:before {
        content: 'On';
        float: left;
        width: 1.65em;
        height: 1.65em;
        margin-top: -.1em;
        margin-left: -.1em;
        border: 1px solid rgba(152, 107, 49,.9);
        border-radius: inherit;
        background: white;
        box-shadow: -1px -1px 5px .02px white inset, -.1em -.2em .7em .4em #cfa972 inset, 1px 1px .5em rgba(0,0,0,.9);
        color: #986B31;
        -webkit-text-shadow: 0 1px 1px rgba(0,0,0,.3);
        text-shadow: 0 1px 1px rgba(0,0,0,.3);
        text-indent: -2.5em;
    }

    input[type="checkbox"]:active + span:before {
    }

    input[type="checkbox"]:focus + span, label:focus + span {
        box-shadow: 0 1px 1px rgba(0,0,0,.2) inset, 0 .45em 0 .1em rgba(0,0,0,.05) inset, 0 0 .5em 1px #986B31;
    }

    input[type="checkbox"]:checked:focus + span {
        box-shadow: 0 .1em .1em rgba(255,255,255,.2) inset, 0 .3em 0 .1em rgba(255,255,255,.2) inset, 0 1px 1px rgba(0,0,0,.2) inset, 0 .45em 0 .1em rgba(0,0,0,.05) inset, 0 0 .5em 1px #986B31;
    }

    input[type="checkbox"] + span:before,
    input[type="checkbox"] + span:after {
        font: bold 60%/1.7 CopseRegular;
        text-transform: uppercase;
    }

    input[type="checkbox"] + span:after {
        content: 'Off';
        float: left;
        text-indent: .5em;
        color: rgba(0,0,0,.45);
    }

    input[type="radio"] + span {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: inherit;
        -moz-transition: .4s background-color, .4s box-shadow;
        -o-transition: .4s background-color, .4s box-shadow;
        -webkit-transition: .4s background-color, .4s box-shadow;
        transition: .4s background-color, .4s box-shadow;
    }

    input[type="radio"]:checked + span {
        background-color: white;
        box-shadow: 0 0 10px 3px #986B31;
    }

label {
    position: relative;
    display: block;
    padding: 1em;
    margin-bottom: .5em;
    border: 2px solid #d7bea2;
    border-radius: 7px;
    background: #f9f8f4;
    text-transform: uppercase;
    font-family: CopseRegular;
    font-size: 1em;
    font-weight: normal;
    line-height: 18px;
    color: #986B31;
    width: 22em;
    -webkit-text-shadow: 0 0 2px #986B31;
    text-shadow: 0 0 2px #986B31;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
}

    label.radio {
        padding-top: .55em;
        padding-bottom: .55em;
        overflow: visible;
    }

    label .text {
        margin-left: 80px;
        display: inline-block;
    }

    label .pic {
        position: absolute;
        top: -10px;
        left: -10px;
        bottom: -10px;
        width: 90px;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
    }

        label .pic span {
            position: absolute;
            width: 45px;
            height: 45px;
            border-radius: 100%;
            border: 3px solid white;
            -moz-background-size: 100% 100%;
            -o-background-size: 100% 100%;
            -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
        }

    label:last-child {
        margin-bottom: 0;
    }

    label .description {
        display: block;
        font-size: .8em;
        -webkit-text-shadow: 0 0 0px #986B31;
        text-shadow: 0 0 0px #986B31;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
    }

    label.select {
    }

        label.select .description {
            float: right;
        }

        label.select + ul {
            width: 24em!important;
        }

select.woz {
    border: 2px solid #d7bea2;
    padding: .8em;
    border-radius: 7px;
    width: 387px;
    cursor: pointer;
}

.container.y, .container.x, .container.group {
    padding: .5em;
    margin-bottom: .5em;
}

.container.y {
    max-height: 11.8em;
    border: 2px solid #d7bea2;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 400px;
    background-color: #F2EBE3;
}

ul.container.y {
    padding: 0;
}

.container.group {
}

.container.y:last-of-type, container.group:last-of-type {
    margin-bottom: 0;
}

.grid {
    position: relative;
    max-width: 850px;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
}

    .grid .col {
        width: 400px;
        padding-right: 40px;
        float: left;
        overflow: visible;
    }

        .grid .col:last-child {
            padding-right: 0;
        }

    .grid h1 {
        padding-left: 10px;
        text-transform: uppercase;
    }

    .grid ul {
        list-style: none;
    }

        .grid ul li {
            display: block;
            width: 100%;
            height: 1em;
            padding: .8em;
            font-family: CopseRegular;
            font-weight: normal;
            color: #986B31;
            background-color: #F9F8F4;
            border-bottom: 1px solid #d7bea2;
            cursor: pointer;
        }

            .grid ul li:last-child {
                border-bottom: none;
            }

            .grid ul li.header {
                color: white;
                background-color: #cfa972;
                padding: .4em;
                text-transform: capitalize;
                cursor: default;
            }

            .grid ul li:hover:not(.header) {
                background-color: #f1ebe2;
            }

            .grid ul li:active, .grid ul li.active {
                background-color: #d9cfc0!important;
                font-weight: bold;
                cursor: default;
            }

    .grid input[type="text"] {
        padding: .8em;
        border: 1px solid #d7bea2;
        background-color: #F9F8F4;
        box-shadow: none;
        width: 350px;
    }

        .grid input[type="text"] ~ span {
            position: relative;
            display: inline-block;
            width: 1.8em;
            height: 1.4em;
            top: .3em;
            -moz-background-size: 100% 100%;
            -o-background-size: 100% 100%;
            -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
            cursor: pointer;
        }

            .grid input[type="text"] ~ span.clear {
                background-image: url('../images/game/add-friend.png');
            }

                .grid input[type="text"] ~ span.clear:hover, .grid input[type="text"] ~ span.clear:active {
                    background-image: url('../images/game/add-friend-active.png');
                }

            .grid input[type="text"] ~ span.find {
                width: 1.6em;
                margin-left: -2em;
                background-image: url('../images/game/find.png');
            }

                .grid input[type="text"] ~ span.find:hover, .grid input[type="text"] ~ span.find:active {
                    background-image: url('../images/game/find-active.png');
                }

.scroll {
    position: relative;
}

    /*.scroll:after{
    content:"";
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    width:5px;
    height:100%;
    background-color:rgba(192, 157, 108, .3);
}*/

    .scroll::-webkit-scrollbar {
        width: 12px;
        background-color: rgba(192, 157, 108, .3);
    }

    .scroll::-webkit-scrollbar-thumb {
        border-radius: 8px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.5);
        background-color: #c8b39b;
        width: 5px;
    }

.pic.woz {
    background-image: url('../images/game/wordsofoz_collection.png');
}

.pic.nf {
    background-image: url('../images/game/nightfall_collection.png');
}

.pic.loc {
    background-image: url('../images/game/lifeofcolor_collection.png');
}

.grid .table {
    display: table;
    border-collapse: separate;
    border-spacing: 1em;
}

.game-item {
    display: table-row;
    font-family: cambria;
    font-weight: normal;
    font-size: .9em;
    line-height: 1.5em;
    color: #986B31;
    -webkit-text-shadow: 0 0 1px #986B31;
    text-shadow: 0 0 1px #986B31;
    -webkit-font-smoothing: antialiased;
}

    .game-item button, button.btn {
        border: 1px solid #d7bea2;
        border-radius: 3px;
        padding: .5em 1em;
    }

    .game-item .float.right {
        float: right;
    }

    .game-item .cell {
        position: relative;
        display: table-cell;
        padding: .5em;
        margin-bottom: .5em;
        border: 2px solid #d7bea2;
        border-radius: 7px;
        background: #f9f8f4;
        width: 22em;
        cursor: pointer;
        -moz-transition: .4s box-shadow, .4s border-color, .4s background-color;
        -o-transition: .4s box-shadow, .4s border-color, .4s background-color;
        -webkit-transition: .4s box-shadow, .4s border-color, .4s background-color;
        transition: .4s box-shadow, .4s border-color, .4s background-color;
    }

    .game-item:hover .cell {
        background-color: rgb(255, 254, 250);
    }

    .game-item.active .cell {
        background-color: white;
        border-color: #986B31;
        box-shadow: 0 0 10px 3px #986B31;
        cursor: default;
    }

    .game-item .visibleOnActive, .game-item .visibleOnHover {
        visibility: hidden;
    }

    .game-item.active .visibleOnActive, .game-item:hover .visibleOnHover {
        visibility: visible;
    }

button {
    cursor: pointer;
}

    button:hover {
        box-shadow: 0 0 4px gold;
    }

.game-item .cell.left {
    width: 60em;
}

.game-item .cell.right {
    width: 15em;
}

.game-item .pic {
    position: absolute;
    top: -.75em;
    height: 7em;
    width: 8em;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

    .game-item .pic + div {
        margin-left: 9em;
    }

.game-item .name {
    font-weight: bold;
}

.game-item .collection {
    font-style: italic;
    margin-right: .2em;
}

.game-item .date {
    font-style: italic;
}

.game-item .phrase {
    font-weight: bold;
    font-size: 1.2em;
}

    .game-item .phrase:after, .game-item .phrase:before {
        content: '"';
    }

.game-item .point {
    font-weight: bold;
}

    .game-item .point:after {
        content: " points";
    }

.game-item .bold {
    font-weight: bold;
}

.game-item .italic {
    font-style: italic;
}

.game-item .icons {
    position: relative;
}

    .game-item .icons .time {
        border: 1px solid #d7bea2;
        border-radius: 3px;
        box-shadow: 0 0 2px #d7bea2;
        padding: 0 2px;
        display: inline-block;
    }

    .game-item .icons .chat {
        position: absolute;
        top: -.25em;
        display: inline-block;
        width: 2.5em;
        height: 2.5em;
        padding-left: .5em;
        background-image: url('../images/game/chat.png');
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
    }

        .game-item .icons .chat > div {
            padding: .4em 0 0 .8em;
            font-size: .8em;
        }

    .game-item .icons .resign {
        position: absolute;
        top: 0;
        right: 0;
        width: 2em;
        height: 2em;
        background-image: url('../images/game/end-game-icon.png');
        background-repeat: no-repeat;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
    }

        .game-item .icons .resign:hover, .game-item .icons .resign:active {
            background-image: url('../images/game/end-game-icon-active.png');
        }

.game-item .players {
    position: absolute;
    bottom: .5em;
    left: 0;
    line-height: 1em;
    width: 10.5em;
}

    .game-item .players .player {
        font-size: .8em;
        float: left;
        margin-left: 1em;
        width: 8em;
    }

    .game-item .players .score {
        float: right;
        font-weight: bold;
    }
/*#endregion */

input[type="text"], input[type="password"], input[type="email"] {
    font-family: Cambria;
    font-weight: bold;
    font-size: 1em;
    background: white;
    border: 1px solid #BE9967;
    padding: .5em 1em;
    margin-top: 1.5em;
    color: #986B31;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 20em;
    border-radius: .2em;
    -moz-box-shadow: 0px 0px 2px #986b31;
    -ms-box-shadow: 0px 0px 2px #986b31;
    -o-box-shadow: 0px 0px 2px #986b31;
    -webkit-box-shadow: 0px 0px 2px #986b31;
    box-shadow: 0px 0px 2px #986b31;
    display: inline-block;
}

    input[type="text"]:invalid, input[type="password"]:invalid, input[type="email"]:invalid {
        box-shadow: 0 0 5px red;
    }

span + input {
    margin-top: 0!important;
}

input + span.error {
    position: relative;
    display: inline-block;
    height: 1em;
    width: 20em;
    visibility: hidden;
}

input:invalid + span.error, p.error {
    font-family: Cambria;
    font-style: italic;
    font-size: 1em;
    color: #f0323f;
    top: -3.5em;
    text-align: center;
    visibility: visible;
}


button.orange, button.blue {
    font-family: Cambria;
    font-size: 1.5em;
    padding: .5em 1em;
    -webkit-text-shadow: 0 0 2px white;
    text-shadow: 0 0 2px white;
    color: white;
    text-transform: uppercase;
    border: 2px solid;
    border-radius: .3em;
    cursor: pointer;
    outline: none;
}

button:disabled {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}

button.orange {
    border-color: white;
    background-image: url('../images/big-button-background-down.jpg');
    box-shadow: 0 -.9em 1em .01em rgba(192, 157, 108, .5) inset, 0 .2em .5em .2em rgba(230, 157, 95, .7) inset, 0 .8em .5em .1em rgba(255, 255, 255, .5) inset;
}

    button.orange:active:not(:disabled), button.orange.active:not(:disabled) {
        box-shadow: 0 .1em .5em .4em rgba(186, 132, 86, 0.7) inset, 0 .7em .3em .1em rgba(255, 255, 255, .5) inset;
    }

button.blue {
    border-color: #b7dbe7;
    background-image: url('../images/app/blue-button.jpg');
    box-shadow: 0 -.9em 1em .01em rgba(183, 219, 231, .5) inset, 0 .2em .5em .2em #54A8C0 inset, 0 .8em .5em .1em rgba(255, 255, 255, .5) inset;
}

    button.blue:active:not(:disabled), button.blue.active:not(:disabled) {
        box-shadow: 0 .1em .5em .4em #5da8c0 inset,0 -.9em 1em .01em rgba(183, 219, 231, .5) inset, 0 .7em .3em .1em rgba(255, 255, 255, .5) inset;
    }

button.menuItem {
    font: normal 1em CopseRegular;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, .5);
    background-image: none;
    border: 0;
    margin: .5em 0;
    padding: .5em 1em;
    width: 15em;
    text-align: left;
}

.float.left {
    float: left;
}

.clear {
    clear: both;
}

.status-box {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: .2em;
    font-family: Cambria;
    font-size: .7em;
    z-index: 1;
    cursor: default;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

    .status-box .switch {
        position: relative;
        display: inline-block;
        line-height: 1em;
        overflow: hidden;
        height: 1em;
    }

        .status-box .switch span {
            display: block;
            margin-top: 0;
            -moz-transition: margin-top .5s;
            -o-transition: margin-top .5s;
            -webkit-transition: margin-top .5s;
            transition: margin-top .5s;
            opacity: .4;
        }

        .status-box .switch.b span:first-child {
            margin-top: -.97em;
        }

    .status-box .good {
        color: green;
    }

    .status-box .bad {
        color: rgb(190, 63, 63);
    }
