
.dialog {
    position: fixed;
    z-index: 100;
    font-family: CopseRegular;
    -webkit-font-smoothing: antialiased;
}

    .dialog.low {
        z-index: 99;
    }

    .dialog.absolute {
        position: absolute;
    }

    .dialog.bottom-center {
        bottom: 0;
        width: 100%;
        text-align: center;
    }

    .dialog.top-center {
        top: 0;
        width: 100%;
        text-align: center;
        height: 0px;
    }

    .dialog.top-left {
        top: 0;
        left: 0;
    }

    .dialog.top-right {
        top: 0;
        right: 0;
    }

    .dialog.modal .ui-overlay {
        /*background: #666 url('../images/overlay.png') 50% 50% repeat;*/
        background: #666;
        z-index: 9;
        opacity: .3;
        filter: alpha(opacity=30);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        position: fixed;
    }

        .dialog.modal .ui-overlay.pale {
            background-color: #aaa;
        }

        .dialog.modal .ui-overlay.transparent {
            background-color: transparent;
        }

    .dialog .loading {
        position: relative;
        z-index: 11;
        margin: 0 auto;
        width: 350px;
        height: 70px;
        text-align: center;
        top: 250px;
        color: #713b00;
    }

    .dialog .alert {
        position: relative;
        z-index: 11;
        /*margin: 0 90px;*/
        padding: 20px 30px;
        border-radius: 50% 50% 50% 50%;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.9);
        color: #b49363;
        font-size: xx-large;
        max-width: 400px;
        margin: 0 auto;
    }

    .dialog .confirm {
        position: relative;
        z-index: 11;
        margin: 0 auto;
        width: 250px;
        background-image: url('../images/app/confirm-background.png');
        background-position: center bottom;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        text-align: center;
        color: #976b2c;
        line-height: 120%;
        padding: 10px;
    }

        .dialog .confirm p {
            padding: 5px 0;
        }

    .dialog .slipper {
        position: relative;
        z-index: 11;
        margin: 0 auto;
        width: 555px;
        top: -30px;
        background-image: url('../images/app/slipper-background.png');
        background-position: center bottom;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        text-align: center;
        color: #976b2c;
        line-height: 120%;
        padding: 40px 30px 20px 30px;
        cursor: pointer;
        -moz-transition: width .5s ease, padding .5s ease;
        -o-transition: width .5s ease, padding .5s ease;
        -webkit-transition: width .5s ease, padding .5s ease;
        transition: width .5s ease, padding .5s ease;
    }

        .dialog .slipper .btnCommand {
            position: absolute;
            bottom: 20px;
            right: 20px;
            width: 30px;
            height: 18px;
            background-image: url('../images/game/ArrowMinimize_Btn.png');
            -moz-background-size: 100% 100%;
            -o-background-size: 100% 100%;
            -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
            -moz-transition: all .5s .1s ease-in-out;
            -o-transition: all .5s .1s ease-in-out;
            -webkit-transition: all .5s .1s ease-in-out;
            transition: all .5s .1s ease-in-out;
            cursor: pointer;
        }

        .dialog .slipper .content {
            font-size: .95em;
        }

        .dialog .slipper h1 {
            font-family: cambria !important;
            font-size: 1.2em;
            font-weight: bold;
            margin-bottom: 10px;
            -webkit-text-shadow: 0px 0px 1px #c95;
            text-shadow: 0px 0px 1px #c95;
            -moz-transition: all .5s ease;
            -o-transition: all .5s ease;
            -webkit-transition: all .5s ease;
            transition: all .5s ease;
        }

        .dialog .slipper.minimized {
            width: 300px;
            padding-top: 35px;
            padding-bottom: 10px;
        }

            .dialog .slipper.minimized .btnCommand {
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }

            .dialog .slipper.minimized .content {
                display: none;
            }

            .dialog .slipper.minimized h1 {
                font-weight: bold;
                font-size: 1.0em;
                margin-bottom: 0px;
            }

    .dialog .menu {
        position: relative;
        z-index: 11;
        margin: 0 auto;
        width: 150px;
        right: -10px;
        background-image: url('../images/app/menu-background.png');
        -moz-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
        text-align: center;
        color: #976b2c;
        line-height: 120%;
        padding: 2em 0 2em 1.5em;
        cursor: pointer;
    }

    .dialog .control {
        position: absolute;
        z-index: 3;
        width: 45px;
        margin-left: -15px;
        margin-top: -40px;
        background-color: white;
        text-align: center;
        color: #976b2c;
        padding: 5px 7px;
        cursor: pointer;
        border-radius: 5px;
        box-shadow: 2px 2px 5px gray;
        -webkit-text-shadow: 0px 0px 1px #999;
        text-shadow: 0px 0px 1px #999;
    }

        .dialog .control .nWords {
            float: left;
            width: 30px;
        }

        .dialog .control .btnDel, .control .btnDel {
            float: left;
            width: 10px;
            font-family: CopseRegular;
            font-size: 1.5em;
        }

        .dialog .control .btnCW {
            float: left;
            width: 10px;
            font-family: CopseRegular;
            font-size: 0.6em;
        }

        .dialog .control .up, .dialog .control .down, .control .up, .control .down {
            float: left;
            width: 30px;
            height: 9px;
            background-image: url('../images/game/ArrowMinimize_Btn.png');
            background-position: center center;
            background-repeat: no-repeat;
            -moz-background-size: 15px 9px;
            -o-background-size: 15px 9px;
            -webkit-background-size: 15px 9px;
            background-size: 15px 9px;
        }

        .dialog .control .down, .control .down {
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }

        .dialog .control .number, .control .number {
            width: 30px;
            text-align: center;
            float: left;
            font-family: CopseRegular;
            font-size: 1.5em;
        }

    .dialog .window {
        position: relative;
        margin: 0 auto;
        z-index: 11;
        width: 240px;
        background-color: white;
        text-align: left;
        color: #39280C;
        padding: 10px 30px;
        cursor: pointer;
        border-radius: 5px;
        box-shadow: 2px 2px 5px gray;
        -webkit-text-shadow: 0px 0px 1px #999;
        text-shadow: 0px 0px 1px #999;
        font-family: Cambria;
    }

        .dialog .window h1 {
            font-size: 1em;
            font-family: CopseRegular;
            margin-bottom: 5px;
        }

    .dialog .notice {
        position: relative;
        top: 200px;
        z-index: 11;
        margin: 0 auto;
        width: 379px;
        min-height: 177px;
        background-image: url('../images/app/notice-background.png');
        background-repeat: no-repeat;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        text-align: center;
        color: #976b2c;
        line-height: 140%;
        padding: 2em;
        cursor: pointer;
        font-family: cambria;
    }

        .dialog .notice h1 {
            font-family: cambria;
            font-size: 1.5em;
            margin-bottom: 20px;
        }

        .dialog .notice h2 {
            margin: 0.9em;
            font-size: 2em;
        }
        .dialog .notice h3{
            font-size: 1.2em;
        }

        .dialog .notice > div {
            font-size: 1.2em;
        }

        .dialog .notice .strong {
            font-weight: bold;
        }

        .dialog .notice button {
            font-size: 0.9em;
        }

        .dialog .notice .badge {
            position: absolute;
            right: 20px;
            top: 100px;
            width: 80px;
            -moz-background-size: 100% auto;
            -o-background-size: 100% auto;
            -webkit-background-size: 100% auto;
            background-size: 100% auto;
            height: 120px;
            background-repeat: no-repeat;
        }

    .dialog .panel {
        position: relative;
        background: #fff;
        border: 2px solid #d7bea2;
        box-shadow: 3px 3px 3px rgba(87, 70, 47, 0.5);
        border-radius: 8px;
        text-align: center;
        padding: 20px 20px 20px 20px;
        color: rgba(152, 107, 49, 1);
        width: 20em;
        margin: 0 auto;
    }

        .dialog .panel h1 {
            font-weight: normal;
            font-size: 1.5em;
            white-space: nowrap;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

@media (min-resolution: 100dppx) {
    .dialog .confirm {
        width: 400px !important;
        height: 140px;
    }

        .dialog .confirm button {
            padding: 14px 20px;
        }
}
