@font-face {
    font-family: 'CopseRegular';
    src: url('../fonts/Copse-Regular-webfont.eot');
    src: url('../fonts/Copse-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Copse-Regular-webfont.woff') format('woff'), url('../fonts/Copse-Regular-webfont.ttf') format('truetype'), url('../fonts/Copse-Regular-webfont.svg#CopseRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GreatVibesRegular';
    src: url('../fonts/GreatVibes-Regular-webfont.eot');
    src: url('../fonts/GreatVibes-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/GreatVibes-Regular-webfont.woff') format('woff'), url('../fonts/GreatVibes-Regular-webfont.ttf') format('truetype'), url('../fonts/GreatVibes-Regular-webfont.svg#GreatVibesRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;
    background: #986B31 url('../images/app/background-texture.jpg') repeat;
}

h1, h2, h3, h4, h5, h6 {
    font-family: cambria !important;
    font-weight: normal;
    color: #986B31;
    -webkit-text-shadow: 0px 0px 1px #986B31;
    text-shadow: 0px 0px 1px #986B31;
    -webkit-font-smoothing: antialiased;
    cursor: default;
}

p {
    cursor: default;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: .9em;
}

h4 {
    font-size: .8em;
}

h5 {
    font-size: .7em;
}

#app {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../images/app/background.jpg') no-repeat;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

#splash {
    width: 300px;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
    color: #713b00;
}

.loader {
    color: #713b00;
    margin: 6px 8px 4px 8px;
    visibility: hidden;
    position: relative;
    z-index: 2;
}

    .loader.active {
        visibility: visible;
    }

.loadingIndicator {
    position: absolute;
    top: 0.1em;
    left: 0.1em;
    font: 0.8em Arial;
    background-color: #229;
    color: White;
    padding: 0.2em 0.5em 0.2em 0.5em;
    display: none;
}

.curly {
    font-family: GreatVibesRegular !important;
}

.logo {
    background: url('../images/app/logo.png') no-repeat;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    background-position: center top;
}

    .logo.page {
        position: absolute;
        top: 0;
        width: 100%;
        height: 80px;
        margin-top: 10px;
        z-index: 1;
        -moz-background-size: auto 100%;
        -o-background-size: auto 100%;
        -webkit-background-size: auto 100%;
        background-size: auto 100%;
        -moz-transition: left 1s ease-in-out, height 1s ease-in-out;
        -o-transition: left 1s ease-in-out, height 1s ease-in-out;
        -webkit-transition: left 1s ease-in-out, height 1s ease-in-out;
        transition: left 1s ease-in-out, height 1s ease-in-out;
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

#login-page .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 2em;
}

    #login-page .background.logo {
        background-position: top center;
    }

    #login-page .background.footer {
        background: url('../images/app/footer.png') no-repeat;
        background-position: bottom center;
        -moz-background-size: 100% auto;
        -o-background-size: 100% auto;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
    }

#game-main {
    position: relative;
    background-image: url('../images/app/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

    #game-main canvas {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0px;
        top: 0px;
        z-index: 2;
    }

    #game-main .logo.loading {
        top: 100px;
        height: 200px;
    }

    #game-main hr {
        border: 0;
        height: 5px;
        position: relative;
        margin: 5px 0; /* Keep other elements away from pseudo elements*/
    }

        #game-main hr:before {
            top: -0.5em;
            /*height: 1em;*/
        }

        #game-main hr:after {
            content: '';
            /*height: 0.5em;*/
            top: 1px;
        }

        #game-main hr:before, hr:after {
            content: '';
            position: absolute;
            width: 100%;
        }

        #game-main hr, #game-main hr:before {
            background: -moz-radial-gradient(center, ellipse cover, rgba(152, 107, 49,0.3) 0%, rgba(152, 107, 49,0) 75%);
            background: -webkit-radial-gradient(center, ellipse cover, rgba(152, 107, 49,0.3) 0%,rgba(152, 107, 49,0) 75%);
            background: -o-radial-gradient(center, ellipse cover, rgba(152, 107, 49,0.3) 0%,rgba(152, 107, 49,0) 75%);
            background: -ms-radial-gradient(center, ellipse cover, rgba(152, 107, 49,0.3) 0%,rgba(152, 107, 49,0) 75%);
            background: radial-gradient(ellipse at center, rgba(152, 107, 49,0.3) 0%,rgba(152, 107, 49,0) 75%);
        }

.palette {
    top: 100px;
    position: fixed;
    z-index: 99;
    -moz-transition: top .3s ease-in-out;
    -o-transition: top .3s ease-in-out;
    -webkit-transition: top .3s ease-in-out;
    transition: top .3s ease-in-out;
}

    .palette.left {
        left: 20px;
    }

    .palette.right {
        right: 20px;
    }

#players {
    position: absolute;
    top: 10px;
    right: 20px;
}

.player {
    float: left;
    margin-left: 20px;
    color: #996b2d;
}

    .player .decoration {
        position: relative;
        height: 48px;
        background-image: url('../images/game/score-background.png');
        background-position: center center;
        background-repeat: no-repeat;
        -moz-background-size: auto 100%;
        -o-background-size: auto 100%;
        -webkit-background-size: auto 100%;
        background-size: auto 100%;
        min-width: 80px;
    }

        .player .decoration .score {
            position: absolute;
            right: 0;
            bottom: 5px;
            left: 0;
            text-align: center;
        }

    .player .name {
        font-family: Cambria;
        text-align: center;
    }

#gameboard {
    position: relative;
    width: 100%;
}

    #gameboard .ui-overlay {
        background: #666;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 99;
        box-shadow: 5px 5px 10px 0 #976b2c;
        display: none;
    }

#tiles-max {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 70px 0 80px; /*in portrait mode the tiles wont get stuck on the edges*/
    -moz-transition: padding-top 1s;
    -o-transition: padding-top 1s;
    -webkit-transition: padding-top 1s;
    transition: padding-top 1s;
}

    #tiles-max > #tiles-aspect {
        min-width: 600px;
        position: relative;
        padding-bottom: 75%;
        width: 100%;
    }

@media screen and (max-width: 900px) {
    #tiles-max {
        padding-top: 80px;
        height: 450px;
    }

        #tiles-max > #tiles-aspect {
            height: 450px;
            padding-bottom: 0;
        }
        #game-main hr {
            margin-top:40px;
        }
}

#tiles {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 8;
}
.carry #tiles{
    z-index:1;
}

    #tiles .container {
        position: relative;
        width: 100%;
        height: 100%;
    }

.tile {
    position: absolute;
    z-index: 3;
    width: 160px;
    height: 160px;
    cursor: pointer !important;
    left: 50%;
    top: 50%;
    margin-left: -80px;
    margin-top: -80px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: left .5s ease-in-out, top .5s ease-in-out, height .5s ease-in-out, width .5s ease-in-out;
    -o-transition: left .5s ease-in-out, top .5s ease-in-out, height .5s ease-in-out, width .5s ease-in-out;
    -webkit-transition: left .5s ease-in-out, top .5s ease-in-out, height .5s ease-in-out, width .5s ease-in-out;
    transition: left .5s ease-in-out, top .5s ease-in-out, height .5s ease-in-out, width .5s ease-in-out;
}

    .tile.active {
        height: 100%;
        width: 100%;
        top: 80px !important;
        z-index: 5;
    }

        .tile.active .instruction, .carry .instruction:hover {
            left: 50%;
            top: 10px;
            opacity: 0;
        }

        .tile.active .mask {
            border-width: 10px;
        }

    .tile.drag {
        -moz-transition: none !important;
        -o-transition: none !important;
        -webkit-transition: none !important;
        transition: none !important;
    }

    .tile .mask {
        position: relative;
        z-index: 5;
        border-radius: 50%;
        box-shadow: 5px 5px 10px 0 #333;
        border: 5px solid #fff;
        width: 100%;
        height: 100%;
        background-position: left center;
        background-repeat: no-repeat;
        -moz-background-size: auto 100%;
        -o-background-size: auto 100%;
        -webkit-background-size: auto 100%;
        background-size: auto 100%;
        -moz-transition: height .5s ease-in-out, width .5s ease-in-out, border-width .5s ease-in-out;
        -o-transition: height .5s ease-in-out, width .5s ease-in-out, border-width .5s ease-in-out;
        -webkit-transition: height .5s ease-in-out, width .5s ease-in-out, border-width .5s ease-in-out;
        transition: height .5s ease-in-out, width .5s ease-in-out, border-width .5s ease-in-out;
    }

        .tile .mask .big {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            -moz-background-size: cover;
            -o-background-size: cover;
            -webkit-background-size: cover;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 100%;
        }

    .tile .instruction {
        -moz-transition: left .5s ease-in-out, top .5s ease-in-out, opacity .5s ease-in-out;
        -o-transition: left .5s ease-in-out, top .5s ease-in-out, opacity .5s ease-in-out;
        -webkit-transition: left .5s ease-in-out, top .5s ease-in-out, opacity .5s ease-in-out;
        transition: left .5s ease-in-out, top .5s ease-in-out, opacity .5s ease-in-out;
    }

        .tile .instruction .help, .instruction .help {
            position: absolute;
            top: 12px;
            right: 0px;
        }

    .tile .instruction, body .instruction {
        z-index: 5;
        position: absolute;
        top: -30px;
        left: 10px;
        width: 80px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 10px 20px 0 20px;
        border-radius: 50%;
        box-shadow: 0 0 5px 5px rgba(255, 255, 255, 1);
        text-align: center;
        line-height: 100%;
        font-family: CopseRegular;
        font-size: medium;
        color: #296e8b;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-font-smoothing: antialiased;
        -webkit-text-shadow: 0px 0px 1px #bad7e4;
        text-shadow: 0px 0px 1px #bad7e4;
    }

        .tile .instruction .info, body .instruction .info {
            margin-top: 5px;
            font-family: GreatVibesRegular;
            font-weight: bold;
            font-size: large;
        }

    .tile .rest {
        position: absolute;
        z-index: 5;
        right: -30px;
        top: 0;
        visibility: hidden;
    }

    .tile:hover .rest {
        visibility: visible;
    }

    .tile .rest .thumbnail {
        margin-bottom: 3px;
        border: 3px solid white;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
    }

        .tile .rest .thumbnail:hover {
            border-color: orange;
        }

        .tile .rest .thumbnail:last-child {
            margin-bottom: 0;
        }

    .tile .control {
        visibility: hidden;
        position: absolute;
        top: 50px;
        left: 0px;
        width: 60px;
        height: 70px;
        z-index: 5;
        background-color: white;
        border-radius: 100%;
        color: #976b2c;
    }

    .tile:hover .control {
        visibility: visible;
    }

#tiles.woz .mask {
    background-image: url('../images/tiles/woz.jpg');
}

#tiles.nf .mask {
    background-image: url('../images/tiles/nf.jpg');
}

#workspace {
    position: relative;
    width: auto;
    height: 500px;
}

.magnet {
    position: absolute !important;
    z-index: 4;
    padding: 2px 4px;
    border: 1px solid #e8e0d3;
    background-color: #fff;
    box-shadow: 1px 1px 2px #333, inset -1px -1px 4px #ccc;
    color: #38270b;
    font-size: 22px;
    font-family: CopseRegular;
    cursor: pointer;
    -moz-transition: all .2s ease-in-out, box-shadow .2s ease-in-out, opacity 0, width 0, height 0;
    -o-transition: all .2s ease-in-out, box-shadow .2s ease-in-out, opacity 0, width 0, height 0;
    -webkit-transition: all .2s ease-in-out, box-shadow .2s ease-in-out, opacity 0, width 0, height 0;
    transition: all .2s ease-in-out, box-shadow .2s ease-in-out, opacity 0, width 0, height 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

    .magnet.related {
        border-width: 2px;
        box-shadow: 0 0 15px #f5cf76,1px 1px 2px #333, inset -1px -1px 4px #f1a460;
        border: 1px solid #f5cf76;
    }

    .magnet.selected {
        border-width: 2px;
        box-shadow: 0 0 15px #986B31,1px 1px 2px #333, inset -1px -1px 4px #963;
        border: 1px solid #986B31;
        border-radius: 3px;
    }

    .magnet .points {
        position: absolute;
        top: -10px;
        right: -10px;
        font-size: 12px;
        width: 20px;
        background-color: white;
        border-radius: 50%;
        border: 1px solid #e8e0d3;
        text-align: center;
        padding-right: 3px;
        z-index: 2;
    }

    .magnet.drag {
        -moz-transform: scale(1.1) !important;
        -ms-transform: scale(1.1) !important;
        -o-transform: scale(1.1) !important;
        -webkit-transform: scale(1.1) !important;
        transform: scale(1.1) !important;
        -moz-transition: all 0;
        -o-transition: all 0;
        -webkit-transition: all 0;
        transition: all 0;
    }

    .magnet:hover:not(.drag):not(:active):not(.placed) {
        -moz-transform: scale(1.05) !important;
        -ms-transform: scale(1.05) !important;
        -o-transform: scale(1.05) !important;
        -webkit-transform: scale(1.05) !important;
        transform: scale(1.05) !important;
        border-color: #b8b0a3;
        border-radius: 4px;
    }

    .magnet.placed {
        cursor: default !important;
    }

#tiles .magnet {
}

.magnet-placeholder {
    position: absolute;
    width: 43px;
    height: 23px;
    -moz-transition: all .4s ease, top .5s ease-out, left .5s ease-out;
    -o-transition: all .4s ease, top .5s ease-out, left .5s ease-out;
    -webkit-transition: all .4s ease, top .5s ease-out, left .5s ease-out;
    transition: all .4s ease, top .5s ease-out, left .5s ease-out;
}

    .magnet-placeholder .circle {
        margin: 0 auto;
        border-radius: 100%;
        width: 15px;
        height: 15px;
        margin-top: 4px;
        background-color: #CBB28F;
    }

    .magnet-placeholder .box {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 1px solid #CBB28F;
        border-radius: 2px;
        color: #38270b;
        font-size: 16px;
        padding-top: 2px;
        font-family: CopseRegular;
        text-align: center;
        /* background-color: black; */
        /* z-index: -7; */
    }

    .magnet-placeholder.hover .box, .magnet-placeholder.hover .circle {
        box-shadow: 0 0 15px #986B31, 0 0 15px #986B31 inset;
    }




.ui-overlay {
    background: #666;
    opacity: .3;
}

    .ui-overlay.fullscreen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

.block {
    display: block;
}

.link {
    cursor: pointer;
}

.space {
    margin: 1em;
}

.agreement {
    margin-top: 1em;
    width: 18em;
    margin: 0 auto;
    font-size: .8em;
    font-family: cambria;
    padding-top: 1em;
    line-height: 1.4em;
}

a.big {
    font-size: 1.2em;
    font-weight: bold;
}

a.small {
}

.confirm-box {
    position: absolute;
    width: 80px;
    height: 80px;
    z-index: 5;
    -moz-transition: left .5s 1s ease, top .5s 1s ease;
    -o-transition: left .5s 1s ease, top .5s 1s ease;
    -webkit-transition: left .5s 1s ease, top .5s 1s ease;
    transition: left .5s 1s ease, top .5s 1s ease;
}

    .confirm-box.ready {
        -moz-transition-delay: 0;
        -o-transition-delay: 0;
        -webkit-transition-delay: 0;
        transition-delay: 0;
    }

    .confirm-box .button {
        position: absolute;
        text-align: center;
        background-image: url('../images/game/Checkmark_Btn_Test2.png');
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        width: 80px;
        height: 80px;
        top: 0;
        left: 0;
        cursor: pointer;
        -moz-transition: all 10s ease;
        -o-transition: all 10s ease;
        -webkit-transition: all 10s ease;
        transition: all 10s ease;
    }

    .confirm-box .tooltip {
        position: relative;
        text-align: center;
        top: -120px;
        left: -30px;
        width: 80px;
        padding: 20px 30px;
        border-radius: 50% 50% 50% 50%;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.9);
        color: #b49363;
        font-family: CopseRegular;
    }

        .confirm-box .tooltip.cw {
            top: 100px !important;
        }


/*#region Form - controls */


.container.y, .container.x, .container.group {
    padding: .5em;
    margin-bottom: .5em;
}

.container.y {
    max-height: 11.8em;
    border: 2px solid #d7bea2;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 400px;
    background-color: #F2EBE3;
}

.container.y.compact {
    padding: 0;
}

.container.group {
}

    .container.y:last-of-type, .container.group:last-of-type {
        margin-bottom: 0;
    }

.grid {
    position: relative;
    max-width: 850px;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
}

    .grid .col {
        width: 400px;
        padding-right: 40px;
        float: left;
        overflow: visible;
    }

        .grid .col.right {
            float: right;
            padding-right: 0;
        }

    .grid h1 {
        padding-left: 10px;
        text-transform: uppercase;
    }

.grid label + ul {
    max-height: 8em !important;
}

.grid ul {
    list-style: none;
}

    .grid ul li {
        display: block;
        width: 100%;
        height: 1em;
        padding: .8em;
        font-family: Cambria;
        font-weight: normal;
        color: #986B31;
        background-color: #F9F8F4;
        border-bottom: 1px solid #d7bea2;
        cursor: pointer;
        overflow:hidden;
    }

        .grid ul li:last-child {
            border-bottom: none;
        }

        .grid ul li.header {
            color: white;
            background-color: #cfa972;
            padding: .4em;
            text-transform: capitalize;
            cursor: default;
        }

        .grid ul li:hover:not(.header) {
            background-color: #f1ebe2;
        }

        .grid ul li:active, .grid ul li.active {
            background-color: #d9cfc0 !important;
            font-weight: bold;
            cursor: default;
        }

.grid input[type="text"] {
    padding: .8em;
    border: 1px solid #d7bea2;
    background-color: #F9F8F4;
    box-shadow: none;
    width: 350px;
}

    .grid input[type="text"] ~ span {
        position: relative;
        display: inline-block;
        width: 1.8em;
        height: 1.4em;
        top: .3em;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        cursor: pointer;
    }

        .grid input[type="text"] ~ span.clear {
            background-image: url('../images/game/add-friend.png');
        }

            .grid input[type="text"] ~ span.clear:hover, .grid input[type="text"] ~ span.clear:active {
                background-image: url('../images/game/add-friend-active.png');
            }

        .grid input[type="text"] ~ span.find {
            width: 1.6em;
            margin-left: -2em;
            background-image: url('../images/game/find.png');
        }

            .grid input[type="text"] ~ span.find:hover, .grid input[type="text"] ~ span.find:active {
                background-image: url('../images/game/find-active.png');
            }

.scroll {
    position: relative;
}

    .scroll::-webkit-scrollbar {
        width: 12px;
        background-color: rgba(192, 157, 108, .3);
    }

    .scroll::-webkit-scrollbar-thumb {
        border-radius: 8px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.5);
        background-color: #c8b39b;
        width: 5px;
    }

.pic.woz {
    background-image: url('../images/tiles/couple-woz.png');
}

.pic.nf {
    background-image: url('../images/tiles/couple-nf.png');
}

.pic.loc {
    background-image: url('../images/tiles/couple-loc.png');
}

.grid .table {
    display: table;
    border-collapse: separate;
    border-spacing: 1em;
}

.game-item {
    display: table-row;
    font-family: cambria;
    font-weight: normal;
    font-size: .9em;
    line-height: 1.5em;
    color: #986B31;
    -webkit-text-shadow: 0 0 1px #986B31;
    text-shadow: 0 0 1px #986B31;
    -webkit-font-smoothing: antialiased;
}

    .game-item .float.right {
        float: right;
    }

    .game-item .cell {
        position: relative;
        display: table-cell;
        padding: .5em;
        margin-bottom: .5em;
        border: 2px solid #d7bea2;
        border-radius: 7px;
        background: #f9f8f4;
        width: 22em;
        cursor: pointer;
        -moz-transition: .4s box-shadow, .4s border-color, .4s background-color;
        -o-transition: .4s box-shadow, .4s border-color, .4s background-color;
        -webkit-transition: .4s box-shadow, .4s border-color, .4s background-color;
        transition: .4s box-shadow, .4s border-color, .4s background-color;
    }

    .game-item:hover .cell {
        background-color: rgb(255, 254, 250);
    }

    .game-item.active .cell {
        background-color: white;
        border-color: #986B31;
        box-shadow: 0 0 10px 3px #986B31;
        cursor: default;
    }

    .game-item .visibleOnActive, .game-item .visibleOnHover {
        visibility: hidden;
    }

    .game-item.active .visibleOnActive, .game-item:hover .visibleOnHover {
        visibility: visible;
    }

    .game-item .cell.left {
        width: 60em;
    }

    .game-item .cell.right {
        width: 15em;
    }

    .game-item .pic {
        position: absolute;
        top: -.75em;
        height: 7em;
        width: 8em;
        -moz-background-size: auto 100%;
        -o-background-size: auto 100%;
        -webkit-background-size: auto 100%;
        background-size: auto 100%;
        background-repeat: no-repeat;
    }

        .game-item .pic + div {
            margin-left: 9em;
        }

    .game-item .name {
        font-weight: bold;
    }

    .game-item .collection {
        font-style: italic;
        margin-right: .2em;
    }

    .game-item .date {
        font-style: italic;
    }

    .game-item .phrase {
        font-weight: bold;
        font-size: 1.2em;
    }

        .game-item .phrase:after, .game-item .phrase:before {
            content: '"';
        }

    .game-item .point {
        font-weight: bold;
    }

        .game-item .point:after {
            content: " points";
        }

    .game-item .bold {
        font-weight: bold;
    }

    .game-item .italic {
        font-style: italic;
    }

    .game-item .icons {
        position: relative;
    }

        .game-item .icons .time {
            border: 1px solid #d7bea2;
            border-radius: 3px;
            box-shadow: 0 0 2px #d7bea2;
            padding: 0 2px;
            display: inline-block;
        }

        .game-item .icons .chat {
            position: absolute;
            top: -.25em;
            display: inline-block;
            width: 2.5em;
            height: 2.5em;
            padding-left: .5em;
            background-image: url('../images/game/chat.png');
            -moz-background-size: 100% 100%;
            -o-background-size: 100% 100%;
            -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
        }

            .game-item .icons .chat > div {
                padding: .4em 0 0 .8em;
                font-size: .8em;
            }

        .game-item .icons .resign {
            position: absolute;
            top: 0;
            right: 0;
            width: 2em;
            height: 2em;
            background-image: url('../images/game/end-game-icon.png');
            background-repeat: no-repeat;
            -moz-background-size: 100% 100%;
            -o-background-size: 100% 100%;
            -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
        }

            .game-item .icons .resign:hover, .game-item .icons .resign:active {
                background-image: url('../images/game/end-game-icon-active.png');
            }

    .game-item .players {
        position: absolute;
        bottom: .5em;
        left: 0;
        line-height: 1em;
        width: 10.5em;
    }

        .game-item .players .player {
            font-size: .8em;
            float: left;
            margin-left: 1em;
            width: 8em;
        }

        .game-item .players .score {
            float: right;
            font-weight: bold;
        }
/*#endregion */



.float.left {
    float: left;
}

.clear {
    clear: both;
}

.status-box {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: .2em;
    font-family: Cambria;
    font-size: .7em;
    z-index: 1;
    cursor: default;
}

    .status-box .switch {
        position: relative;
        display: inline-block;
        line-height: 1em;
        overflow: hidden;
        height: 1em;
    }

        .status-box .switch > span {
            display: block;
            margin-top: 0;
            -moz-transition: margin-top .5s;
            -o-transition: margin-top .5s;
            -webkit-transition: margin-top .5s;
            transition: margin-top .5s;
            height: 1em;
            opacity: .4;
        }

        .status-box .switch.b > span:first-child {
            margin-top: -.97em;
        }

    .status-box .good {
        color: green;
    }

    .status-box .bad {
        color: rgb(190, 63, 63);
    }
