.actions {
    background: #faf5ef;
    padding: 5px;
    border-radius: 8px;
}

    .actions i {
        display: block;
        margin-bottom: 5px;
    }

        .actions i:last-child {
            margin-bottom: 0;
        }

i.action, i.command {
    display: block;
    border-radius: 3px;
    font-size: 40px;
    width: 1em;
    height: 1em;
    background: url('../images/app/icons.png') no-repeat;
    cursor: pointer;
    -moz-background-size: 5em auto;
    -o-background-size: 5em auto;
    -webkit-background-size: 5em auto;
    background-size: 5em auto;
}

i.action {
    -moz-transition: all .5s ease, background-position-x 0;
    -o-transition: all .5s ease, background-position-x 0;
    -webkit-transition: all .5s ease, background-position-x 0;
    transition: all .5s ease, background-position-x 0;
}

    i.action:hover:not(.still),
    i.command:hover:not(.still) {
        background-position-x: -1em;
    }

    i.action:active:not(.still),
    i.command:active:not(.still) {
        background-position-x: -2em;
    }

    i.action.disabled:not(.still),
    i.command.disabled:not(.still) {
        background-position-x: -3em;
        cursor: default;
    }

    i.action.cancel:not(.still) {
        -moz-transform: rotateY(180deg) !important;
        -ms-transform: rotateY(180deg) !important;
        -o-transform: rotateY(180deg) !important;
        -webkit-transform: rotateY(180deg) !important;
        transform: rotateY(180deg) !important;
        background-position-x: -4em;
    }

    i.action.swapWords {
        background-position-y: 0;
    }

    i.action.circleWords {
        background-position-y: -1em;
    }

    i.action.addWords {
        background-position-y: -2em;
    }

    i.action.unknownWords {
        background-position-y: -3em;
    }

i.command.accept {
    background-position-y: -4em;
}

i.command.menu {
    background-position-y: -5em;
}

i.command.connection {
    background-position-y: -6em;
}

i.command.chat {
    background-position-y: -7em;
}

i.command.help {
    background-position-y: -8em;
}

i.command.quit {
    background-position-y: -9em;
}

i.action:not(:empty),
i.command:not(:empty) {
    background-color: #bad7e4;
    background-image: none;
    border-radius: 3px;
    font-size: 12px;
    height: 40px;
    width: 40px;
}

    i.action:not(:empty) span,
    i.command:not(:empty) span {
        display: table-cell;
        height: 40px;
        width: 40px;
        vertical-align: middle;
        text-align: center;
    }

i.action:hover:not(:empty),
i.command:hover:not(:empty) {
    -webkit-filter: brightness(105%);
}

i.action:active:not(:empty),
i.command:active:not(:empty) {
    -webkit-filter: brightness(95%);
}

i.action.cancel:not(:empty) {
    background-color: orange;
    -moz-transform: rotateY(360deg) !important;
    -ms-transform: rotateY(360deg) !important;
    -o-transform: rotateY(360deg) !important;
    -webkit-transform: rotateY(360deg) !important;
    transform: rotateY(360deg) !important;
}

i.action.pink,
i.command.pink {
    background-color: pink;
}

i.action.green,
i.command.green {
    background-color: lightgreen;
}

i.command.close {
    display: block;
    position: absolute;
    font-size: 16px;
    top: 10px;
    right: 10px;
    background-image: url('../images/game/Close_Btn.png');
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

    i.command.close:hover, i.command.active {
        background-position: 0;
    }

i.sm {
    font-size: 25px;
}
i.xsm {
    font-size: 16px;
}
