
@font-face {
    font-family: 'CopseRegular';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Copse-Regular-webfont.eot');
    src: local('Copse'), local('CopseRegular'), /* Local */
    url('../fonts/Copse-Regular-webfont.woff') format('woff'), /* Modern */
    url('../fonts/Copse-Regular-webfont.ttf') format('truetype'), /* Safari, Android, IOS */
    url('../fonts/Copse-Regular-webfont.svg#CopseRegular') format('svg'); /* Legacy IOS */
}

@font-face {
    font-family: 'Cambria';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/cambria/cambria.eot'); /* IE9 */
    src: local('Cambria'), /* Local */
    url('../fonts/cambria/cambria.woff') format('woff'), /* Modern */
    url('../fonts/cambria/cambria.ttf') format('truetype'), /* Safari, Android, IOS */
    url('../fonts/cambria/cambria.svg#Cambria') format('svg'); /* Legacy IOS */
}


html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Cambria', 'CopseRegular';
    cursor: default;
    color: #986b31;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    /*overflow-x: hidden;
    overflow-y: auto;*/
    background-color: #f1e8d5;
    background: url('../images/background-small.jpg') no-repeat fixed #f1e8d5 center center;
    background-size: 100% 100%;
}

img {
    border: none;
}

a {
    text-decoration: none;
}

#page {
    position: relative;
}

.logo {
    background: url('../images/logo.png') no-repeat;
    background-size: 100% auto;
    background-position: center top;
}

    .logo.page {
        width: 100%;
        height: 90px;
        z-index: 1;
        background: url('../images/logo-small.png') no-repeat center center;
        background-size: auto 100%;
        margin-bottom: 1em;
    }

#app {
    width: 100%;
    height: 100%;
    position: relative;
}

input[type="text"], input[type="password"], input[type="email"], input[type="search"] {
    font-family: Cambria, CopseRegular;
    /*font-weight: bold;*/
    font-size: 1.1em;
    text-align: center;
    background: white;
    border: 1px solid #BE9967;
    padding: .4em .6em;
    color: #986B31;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 18em;
    border-radius: .2em;
    box-shadow: 0 0 2px #986b31;
    /*display: inline-block;*/
    letter-spacing: .03em;
}


input::-webkit-input-placeholder {
    color: #999;
}

input::-moz-placeholder {
    color: #999;
}

input:focus::-webkit-input-placeholder {
    color: transparent !important;
}

input:focus::-moz-placeholder {
    color: transparent !important;
}

button {
    cursor: pointer;
    font-family: CopseRegular;
    border: 2px solid #fff;
    text-align: center;
    background-image: url('../images/buttons.png');
    color: white;
    outline: none;
    white-space: nowrap;
    -webkit-appearance: none;
}

    button.orange, button.blue {
        font-size: 1.4em;
        padding: .3em 1em;
        text-shadow: 0 0 2px white;
        color: white;
        text-transform: uppercase;
        border: 2px solid;
        border-radius: 0.2em;
    }

    button.sm {
        font-size: 1em;
    }

    button.xsm {
        font-size: .8em;
    }

    button:hover:not(:disabled) {
        background-position: -470px 0;
    }

    button:active:not(:disabled) {
        background-position: -940px 0;
    }

    button.blue {
        border-color: #b7dbe7;
        background-color: #62B6CC;
        background-position-y: -156px;
        box-shadow: 0 -.9em 1em .01em rgba(183, 219, 231, .5) inset, 0 .2em .5em .2em #54A8C0 inset, 0 .8em .5em .1em rgba(255, 255, 255, .5) inset;
    }

        button.blue:active:not(:disabled) {
            box-shadow: 0 .1em .5em .4em #5da8c0 inset,0 -.9em 1em .01em rgba(183, 219, 231, .5) inset, 0 .7em .3em .1em rgba(255, 255, 255, .5) inset;
        }

.card {
    -moz-transition: 1s all ease-in-out .2s;
    -o-transition: 1s all ease-in-out .2s;
    -webkit-transition: 1s all ease-in-out .2s;
    transition: 1s all ease-in-out .2s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
}

    .card .back {
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

    .card .front {
        z-index: 2;
    }

    .card .front, .card .back {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .card.bottom {
        height: 65px;
    }

.tile {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 1.4em;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

    .tile .card .front::before {
        content: "";
        display: block;
        background: url('../images/wand.png') no-repeat center center;
        background-size: 100%;
        width: 250px;
        height: 250px;
        position: absolute;
        z-index: 3;
        top: 53%;
        left: -10%;
        -moz-transition: -moz-transform ease-in-out .5s;
        -o-transition: -o-transform ease-in-out .5s;
        -webkit-transition: -webkit-transform ease-in-out .5s;
        transition: transform ease-in-out .5s;
    }

    .tile .card {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .tile.active .card {
        -moz-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }

        .tile.active .card .front::before {
            -moz-transform: translate3d(33%, -33%, 1px);
            -ms-transform: translate3d(33%, -33%, 1px);
            -o-transform: translate3d(33%, -33%, 1px);
            -webkit-transform: translate3d(33%, -33%, 1px);
            transform: translate3d(33%, -33%, 1px);
        }

    .tile input {
        width: 270px;
        margin-left: 65px;
        z-index: 2;
    }

    .tile button {
        display: block;
        width: 150px;
        margin-left: 125px;
        margin-top: 1em;
        font-size: 1em;
    }



    .tile.girl .front, .tile.girl .back {
        background-color: white;
        border-radius: 50%;
        border: .7em solid white;
        box-shadow: 5px 5px 10px 0 #333;
        width: 100%;
        height: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .tile.girl .front {
        background: url('../images/girl.jpg') no-repeat center center;
        background-size: contain;
    }



.ozma {
    background: url('../images/ozma.png') no-repeat center center;
    background-size: contain;
    height: 100px;
}

h1 {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: normal;
    font-family: 'CopseRegular';
    color: #986B31;
    text-align: center;
    text-shadow: 0 0 1px #986B31;
    margin-bottom: .5em;
}

p {
    font-size: 1em;
    font-weight: normal;
    font-family: 'Cambria';
    color: #986B31;
    text-align: center;
    word-spacing: 2px;
    padding: 0 1em;
}

    p.sm {
        font-size: .9em;
    }

    p.lg {
        font-size: 1.1em;
    }

    p.lgx {
        font-size: 1.2em;
    }

    p.bold {
        margin-top: -.8em;
    }

.allcaps {
    font-family: 'CopseRegular';
    text-transform: uppercase;
    font-size: 1.2em;
}

.video {
    margin: 0 auto;
    display: block;
    margin-top: 1.4em;
}

.light {
    width: 100%;
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255,.5);
    padding: 1em;
}


    .light p:first-child {
        margin-top: 0;
    }

.box600 {
    max-width: 650px;
    text-align: left;
    margin: 0 auto;
    padding: 0 10px;
    margin-top: 1em;
}

    .box600 p {
        text-align: left;
        padding: 0;
    }

.bold {
    font-weight: bold;
}



.tile:not(.active) .loader-bar, .loaded .loader-bar {
    -moz-animation: none !important;
    -o-animation: none !important;
    -webkit-animation: none !important;
    animation: none !important;
    display: none !important;
}

.loader-bar {
    font-size: .5em;
    position: relative;
    width: 15em;
    height: 1em;
    overflow: visible;
}

    .loader-bar.center {
        margin: 0 auto;
        margin-top: 200px;
    }

    .loader-bar i {
        display: inline-block;
        white-space: nowrap;
        position: absolute;
        height: 1em;
        width: 1em;
        background-color: #986B31;
        border-radius: 50%;
        opacity: 0;
        -moz-animation: 2.5s slidein infinite linear;
        -o-animation: 2.5s slidein infinite linear;
        -webkit-animation: 2.5s slidein infinite linear;
        animation: 2.5s slidein infinite linear;
        -moz-animation-delay: 0s;
        -o-animation-delay: 0s;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }

        .loader-bar i:nth-child(2), .loader-bar i.second {
            -moz-animation-delay: .5s;
            -o-animation-delay: .5s;
            -webkit-animation-delay: .5s;
            animation-delay: .5s;
        }

        .loader-bar i:nth-child(3), .loader-bar i.third {
            -moz-animation-delay: 1s;
            -o-animation-delay: 1s;
            -webkit-animation-delay: 1s;
            animation-delay: 1s;
        }

.visibleOnLoad {
    visibility: hidden;
}

.loaded .visibleOnLoad {
    visibility: visible;
}

nav {
    min-width: 330px;
    height: 35px;
}

    nav a {
        color: #986b31;
        font-size: 22px;
        text-transform: uppercase;
        margin: 0 .5em;
        line-height: 57px;
    }

        nav a:first-child {
            margin-left: 1.5em;
        }

        nav a:visited {
            color: #986b31;
        }

.social {
    width: 140px;
    font-size: 5px;
    margin: 1em 1em 0 0;
    position: absolute;
    top: 0;
    right: 0;
}

    .social a {
        margin: 0 !important;
    }

.s-fb, .s-tw, .s-pt {
    display: inline-block;
    width: 44px;
    height: 45px;
    background-image: url('../images/social.png');
}

.s-fb {
    background-position: 0 0;
}

.s-pt {
    background-position: 0 -45px;
}

.s-tw {
    background-position: 0 -90px;
}

.star {
    background: url(../images/soon.png) no-repeat;
    background-size: contain;
    width: 150px;
    height: 150px;
    display: block;
    padding: 40px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    .star.main {
        position: absolute;
        bottom: 0;
        left: -175px;
    }



header {
    width: 100%;
    color: white;
    background-color: #986b31;
    text-align: center;
    padding: .5em;
    font-size: 36px;
    text-transform: uppercase;
    font-family: CopseRegular;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 480px;
    opacity: .5;
}

footer {
    position: relative;
    height: 140px;
    color: #77452C;
    text-align: left;
    padding: 1.5em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: url(../images/ozma.png) no-repeat #C9BCAB;
    background-size: 200px auto;
    background-position: center right;
}

    footer a, footer a:visited {
        color: #77452C;
        margin-right: 1em;
    }

        footer a:hover {
            text-decoration: underline;
        }

    footer p {
        text-align: left;
        color: inherit;
        font-family: Cambria;
    }

    footer .lang {
        font-weight: bold;
    }

.hideOnShrink {
}


@media only screen and (max-width: 725px) {
    .hideOnShrink {
        display: block;
        height: 0;
        color: transparent;
    }

    .star.main {
        top: -40px;
        bottom: auto;
        left: -65px;
        z-index: -1;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation: portrait), only screen and (max-width: 480px) {

    .tile {
        width: 300px;
        height: 300px;
    }

        .tile .card {
            margin-top: 150px;
        }

        .tile input {
            margin-left: 15px;
        }

        .tile button {
            margin-left: 75px;
        }

    .card.bottom {
        height: 85px;
    }

    .tile::after {
        width: 200px;
        height: 200px;
    }

    nav {
        height: 115px;
    }

    .social {
        position: relative;
        margin: 0 auto;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.1), only screen (min-resolution: 1.1dppx) {
    .logo.page {
        background-image: url('../images/logo.png');
    }
}

@media only screen and (min-width : 1380px), only screen and (-webkit-min-device-pixel-ratio: 1.1), only screen (min-resolution: 1.1dppx) {
    body {
        background-image: url('../images/background.jpg');
    }
}

@-webkit-keyframes slidein {
    from {
        -webkit-transform: translateX(0);
    }

    10% {
        opacity: 0;
    }

    35% {
        opacity: 1;
        -webkit-transform: translateX(6.5em);
    }

    65% {
        -webkit-transform: translateX(8.5em);
    }

    90% {
        opacity: 0;
    }

    to {
        -webkit-transform: translateX(15em);
    }
}

@-moz-keyframes slidein {
    from {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
    }

    10% {
        opacity: 0;
    }

    35% {
        opacity: 1;
        -moz-transform: translateX(6.5em);
        -webkit-transform: translateX(6.5em);
    }

    65% {
        -moz-transform: translateX(8.5em);
        -webkit-transform: translateX(8.5em);
    }

    90% {
        opacity: 0;
    }

    to {
        -moz-transform: translateX(15em);
        -webkit-transform: translateX(15em);
    }
}

@keyframes slidein {
    from {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10% {
        opacity: 0;
    }

    35% {
        opacity: 1;
        -webkit-transform: translateX(6.5em);
        transform: translateX(6.5em);
    }

    65% {
        -webkit-transform: translateX(8.5em);
        transform: translateX(8.5em);
    }

    90% {
        opacity: 0;
    }

    to {
        -webkit-transform: translateX(15em);
        transform: translateX(15em);
    }
}
