
#actions {
    position: absolute;
    width: 615px;
    height: 244px;
    background-image: url('images/app/dialogs/background.png');
    background-position: center bottom;
    -moz-background-size: 615px auto;
    -o-background-size: 615px auto;
    -webkit-background-size: 615px auto;
    background-size: 615px auto;
}

#actions-inner {
    padding: 15px 40px 30px 40px;
}

#actions-heading {
    padding: 0 0 15px 0;
    text-align: center;
    color: #986b31;
    font-size: 18px;
    font-weight: bold;
}

.actions-option {
    float: left;
    width: 107px;
    height: 95px;
    background-position: center center;
    background-repeat: no-repeat;
    -moz-background-size: 95px 95px;
    -o-background-size: 95px 95px;
    -webkit-background-size: 95px 95px;
    background-size: 95px 95px;
}



#actions-description {
    padding: 20px 0 0 0;
    text-align: center;
    color: #986b31;
}

#actions-buttons {
    padding: 20px 0 0 0;
    text-align: center;
}

.actions-button {
    display: inline-block;
    padding: 10px;
    background-image: url('images/app/dialogs/button-background.jpg');
    background-position: center center;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #916731;
    font-size: 15px;
}

.actions-button-ornament {
    display: inline-block;
}



.dialog {
    position: absolute;
    width: 615px;
    top: -30px;
    background-image: url('images/app/dialogs/background.png');
    background-position: center bottom;
    -moz-background-size: 615px auto;
    -o-background-size: 615px auto;
    -webkit-background-size: 615px auto;
    background-size: 615px auto;
    text-align: center;
    color: #976b2c;
    line-height: 120%;
}

    .dialog .inner {
        padding: 40px 30px 30px 30px;
    }



@-webkit-keyframes inflate {
    0% {
        -webkit-transform: scale(1);
    }

    100% {
        -webkit-transform: scale(2);
    }
}

@-moz-keyframes inflate {
    0% {
        -moz-transform: scale(1);
    }

    100% {
        -moz-transform: scale(2);
    }
}

@-o-keyframes inflate {
    0% {
        -o-transform: scale(1);
    }

    100% {
        -o-transform: scale(2);
    }
}

@keyframes inflate {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(2);
    }
}

.inflate {
    -webkit-animation-name: inflate;
    -moz-animation-name: inflate;
    -o-animation-name: inflate;
    animation-name: inflate;
}

@-webkit-keyframes deflate {
    0% {
        -webkit-transform: scale(2);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes deflate {
    0% {
        -moz-transform: scale(2);
    }

    100% {
        -moz-transform: scale(1);
    }
}

@-o-keyframes deflate {
    0% {
        -o-transform: scale(2);
    }

    100% {
        -o-transform: scale(1);
    }
}

@keyframes deflate {
    0% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}

.deflate {
    -webkit-animation-name: deflate;
    -moz-animation-name: deflate;
    -o-animation-name: deflate;
    animation-name: deflate;
}

#loading-gameboard {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('images/app/loading-screen-gameboard.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.star {
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url('images/core/stardust/star.png');
    background-position: center center;
    background-repeat: no-repeat;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

#stardust {
    position: absolute;
    width: 100%;
    height: 100%;
}



#loading-box {
    position: absolute;
    padding: 40px;
    background: #fcf9f4;
    color: #6a5840;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

    #loading-box .inner {
        -moz-animation-iteration-count: infinite;
        -ms-animation-iteration-count: infinite;
        -o-animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }

.notice {
    position: absolute;
    width: 379px;
    height: 177px;
    background-image: url('images/app/notice-background.png');
    background-position: center center;
    background-repeat: no-repeat;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    text-align: center;
    font-size: x-large;
    color: #976b2c;
    line-height: 140%;
}

    .notice .inner {
        padding: 50px;
    }

.alert {
    position: absolute;
    font-size: xx-large;
    color: #b49363;
    padding: 20px;
    border-radius: 50% 50% 50% 50%;
    background-color: rgba(255, 255, 255, 0.9);
    -moz-box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.9);
    -ms-box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.9);
    -o-box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.9);
}

#user {
    position: absolute;
}

#agreement {
    margin: auto;
    width: 80%;
    font-size: 12px;
    padding-bottom: 20px;
}
