<div class="dialog top-right modal">    
    <div class="slipper right profile" data-bind="click: close">
       <div class="title" data-bind="text: title"></div>
       <div class="username" data-bind="text: username"></div>
       <div class="xp"><span data-bind="text: xp"></span></div>       
       <div class="level"> Level <span data-bind="text: level"></span></div>
       <div class="pic"></div>
       <div class="level-icon" data-bind="style:{ backgroundImage: 'url(\'images/game/level/' + title().toLowerCase() + '.png\')' }"></div>
    </div>
</div>
