/*.magnet-placeholder .score {
    -moz-transition: all 4s ease-in-out, opacity 8s ease-in-out;
    -o-transition: all 4s ease-in-out, opacity 8s ease-in-out;
    -webkit-transition: all 4s ease-in-out, opacity 8s ease-in-out;
    transition: all 4s ease-in-out, opacity 8s ease-in-out;
}*/
