<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns#">
    <title>Words of Oz Privacy Policy</title>

    <meta charset="utf-8" />

    <link rel="shortcut icon" href="../../images/icon.png" />
    <link rel="apple-touch-icon" href="../../images/icon.png" />
    <link rel="apple-touch-startup-image" href="../../images/icon.png" />

    <style>
        .document {
            line-height: 1.3em;
        }

            .document h1 {
                font-size: 1.5em;
            }

            .document h2 {
                font-size: 1.2em;
                padding: .3em 0;
            }

            .document ul {
                padding: 0;
                padding-left: 25px;
            }

            .document ol {
                padding: 0;
                padding-left: 25px;
            }

                .document ol > li {
                    margin-top: .4em;
                    margin-left: 1.5em;
                    position: relative;
                }

                    .document ol > li:before {
                        position: absolute;
                        left: -2.5em;
                    }
        .document .centered {
            text-align: center;
        }

        .document img {
            margin: 10px;
        }
    </style>
</head>
<body>
    <article class="document">
        <h2>How do I start a new game?</h2>
        <p>On the Home screen, click the New Game tile. You will now get to the New Game screen. Select whether to start a single player game, a game with a friend or a random co-player. The default is a single player game.</p>

        <h2>How do I start a game with a friend?</h2>
        <p>To be able to play with a friend, you have to add them to your friends’ list. If your friend is not already a Words of Oz-user, you can invite them to play via Facebook. Press “Invite a friend”.</p>

        <h2>How do I add a friend to my friends list?</h2>
        <p>There are two ways to add a friend. </p>
        <ul>
          <li>
            Go to New Game via the Home screen. Here you can search for a friend by using username or email address. The search will look for your friends among the registered Words of Oz players. If you find your friend in the search result, simply click the add friend symbol to add your friend.
            <p class="centered"><img src="images/faq/image02.png" /></p>
          </li>
          <li>
            The second way to add a friend is to click the username of the your co-player inside a game. You will then see their profile. Use the Add friend-button on their profile to add them as a friend.
            <p class="centered"><img src="images/faq/image01.png" /></p>
          </li>
        </ul>

        <h2>How do I play Words of Oz?</h2>
        <p>The game is about placing poetic phrases between image tiles, getting as high a score as
possible. You have 20 words to play with. Drag the words to where you want to place them. You’ll score points for each word. Fulfilling the bonus criteria on the image tile will give you extra points. You can click the question mark on the tile to learn more about the bonus.</p>

        <h2>Will the game check for correct grammar?</h2>
        <p>Since you’re creating poetry, phrases do not have to be grammatically correct. It’s up to you to make the phrases meaningful!</p>

        <h2>Can I change the words?</h2>
        <p>Each turn you can choose to do an action, by clicking one of the action buttons to the left of the screen. The actions are swap words, add words or versions. Swap words lets you choose a number of words to swap. Add words lets you add a word from the database - as long as that word is available. This action costs 4 Besoz. Versions lets you look for alternate versions of verbs, for example with another ending. This costs 2 Besoz.</p>

        <h2>I can’t find the words I like. Why?</h2>
        <p>The database of words will increase with time. Please help us add words to it by using the Suggest word-function. </p>

        <h2>What do I do with the Select Tool?</h2>
        <p>When playing, click the Select Tool on the left hand side of the screen to select a whole phrase at once. Circle the phrase to select it, then tap the path on which you’d like to place it.</p>

        <h2>What can I do in the shop?</h2>
        <p>In the shop you can get more Besoz, which in turn lets you buy other stuff. You can shop for new collections containing new sets of words and images, as well as for more storage space for archived games. You can get to the shop from the Home screen.</p>

        <h2>What is Besoz?</h2>
        <p>Besoz are the internal currency in the game. You can see the amount of Besoz you have in the top right corner above the red wand. Besoz can be used to buy new collections to play with and more storage space for archived games. It can also be used to buy new words inside a game and to change verb endings.</p>
        <p>You will earn Besoz when levelling up. You can also buy Besoz. Either simply click the red wand in the top right corner, or go to the shop and select the Besoz tab. Choose the number of Besoz you wish to purchase. You will then be redirected to the payment provider to finish your transaction.</p>

        <h2>What is a collection?</h2>
        <p>A collection is a set of 20 images and 250 words. When you play with a certain collection, all the images and most of the words will be randomly picked from it. The rest of the words come from a set of basic words that are general pronouns, prepositions, verbs, nouns, adverbs, adjectives and conjugations. To buy new collections, visit the shop.</p>

        <h2>What is a booster?</h2>
        <p>A booster is an addition to a collection. If you add a booster to a collection you’ll get an additional 10 images and 100 words. These are integrated into your collection. You can’t choose to play without a booster once you have added it to a collection. You can buy boosters in the Shop.</p>

        <h2>Where do I find my collections?</h2>
        <p>After you’ve bought a collection you will find it on the page where you start a new game. In the list of collections to play with, you can now choose it.</p>

        <h2>What is XP?</h2>
        <p>XP or “Experience Points” are points you receive by doing things in the game. When you reach a certain amount of XP you will level up. Every time you level up you will receive an amount of Besoz, the internal currency. </p>
        <p>You will find the details about the XP you’ve earned and how far you are from the next level on your Profile, which is displayed when you click your username in the top right corner inside a game.</p>
        <p class="centered"><img src="images/faq/image00.png" /></p>

        <h2>How do I earn XP?</h2>
        <p>You will earn XP by doing the following things:</p>
        <ul>
            <li>Playing a single-player game to the end (3 XP)</li>
            <li>Winning a two-player game (15 XP)</li>
            <li>Losing a two-player game (5 XP)</li>
            <li>Playing with a new friend gives 10 extra XP on top of the ones you earn for winning of losing (does not apply to a random co-player)</li>
        </ul>
        <p></p>

        <h2>How do the Advancement levels work?</h2>
        <p>There are three Advancement levels in the game:</p>
        <ol>
            <li>Apprentice of Poetry</li>
            <li>Practitioner of Poetry</li>
            <li>Master of Poetry</li>
        </ol>
        <p>You start out as an Apprentice of Poetry. You will become a Practitioner of Poetry when you reach level 2 and a Master of Poetry when you reach level 4. When you reach a new Advancement level you will get new game boards to play with and new bonus rules are unlocked.</p>

        <h2>How do I block a person?</h2>
        <p>To block a person that has started a game with you, click the username of the co-player inside the game. You will then see their profile. Use the Block-button on their profile to block them. This means you will never receive new game requests from them again.</p>

        <h2>How do I change my account settings?</h2>
        <p>You can change your settings by going to “settings” in the menu (which you find in the top-left corner of the screen). On the Settings screen you can change your email-address, password, and notifications.</p>
    </article>
</body>
</html>