<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns#">
    <title>Words of Oz Privacy Policy</title>

    <meta charset="utf-8" />

    <link rel="shortcut icon" href="../../images/icon.png" />
    <link rel="apple-touch-icon" href="../../images/icon.png" />
    <link rel="apple-touch-startup-image" href="../../images/icon.png" />

    <style>
        .document {
            line-height: 1.3em;
        }

            .document h1 {
                font-size: 1.5em;
            }

            .document h2 {
                font-size: 1.2em;
            }

            .document ul {
                padding: 0;
                padding-left: 40px;
            }

            .document ol {
                list-style: none;
                padding: 0;
                padding-left: 40px;
            }

                .document ol > li {
                    margin-top: .4em;
                    margin-left: 1.5em;
                    position: relative;
                }

                    .document ol > li:before {
                        position: absolute;
                        left: -2.5em;
                    }
    </style>
</head>
<body>
    <article class="document">
        <h1>Privacy Policy</h1>
        <h2>Introduction</h2>
        <p>At Ozma we respect the privacy of everyone who uses our games, website(s) and all related services which we may provide to you (“Services”). In this document we refer to Ozma Speldesign AB as “Ozma” “us”, “we” or “our” and we refer to you as “you” and “your”.</p>
        <p>This document explains how we collect, store and process any personal data belonging to you, meaning information about you which is personally identifiable such as your name, address, telephone number or email address. Such information is referred to in this policy as "Personal Information" or “data”.</p>
        <p>By accessing and/or using our Services you consent to us collecting, storing, processing and sharing your Personal Information in the ways set out in this document. If you have any concerns about providing data to us or having it used in any manner permitted in this Privacy Policy, you should not use our Services.</p>

        <h2>Ozma</h2>
        <p>Ozma is a company registered in Sweden. Our registered office is Rådmansgatan 15 B, 211 46 Malmö.</p>

        <h2>Information collected</h2>
        <p>
            We may collect and process the following data about you:
            <ul>
                <li>information that you provide us with when you fill in forms when you create an account with us;</li>
                <li>details of your use of our Services and the resources that you access (for example, information about how and when you play our games or visit our website(s), or what device you use to access our Services);</li>
                <li>if you contact us or respond to messages and communications that we send to you, we may keep a record of that correspondence;</li>
                <li>your interactions with us on our social media channels.</li>
            </ul>
        </p>

        <h2>Payment Information</h2>
        <p>We may collect certain payment information from you on behalf of our payment service providers, but this information is temporarily cached in a way that is unreadable by Ozma. </p>

        <h2>How will we use your Personal Information?</h2>
        <p>
            You agree that we (or a supplier acting on our behalf and only under our instructions) may use your Personal Information for the purposes of:
            <ul>
                <li>managing your account and relationship with us and improving your experience when you use our Services;</li>
                <li>contacting you, for example as part of customer service or to send you updates about our Services;</li>
                <li>research, surveying, and engaging with you, for example by sending you communications (including by email) for these purposes;</li>
                <li>marketing and promotion of our Services or related products, for example sending you communications (including by email) for these purposes. If you do not want us to use your data in this way please let us know by contacting us at <a href="mailto:support@ozmagames.com">support@ozmagames.com</a>;</li>
                <li>to create reports, analysis or similar services for use by us for the purposes of research or business intelligence, for example to track potential problems or trends with our Services;</li>
                <li>preventing cheating, crime or fraud. We may also need to pass your information to fraud prevention agencies and other organizations involved in crime and fraud prevention; and</li>
                <li>as otherwise expressly set out in this Privacy Policy or as required by law.</li>
            </ul>
        </p>

        <h2>Information shared with third parties</h2>
        <p>
            We will only share your data with third parties:
            <ul>
                <li>with your consent (including as set out in this Privacy Policy);</li>
                <li>as reasonably necessary in order to provide the Services to you (for example, by providing your Personal Information to suppliers we may use to fulfill the Services or to communicate with you);</li>
                <li>where your data is on an anonymous and aggregated basis, meaning you could not be personally identified from it;</li>
                <li>where it is necessary to carry out your instructions (for example, to process a payment instruction we must provide your Personal Information to our payment processors);</li>
                <li>when you submit information as part of a competition or otherwise interact with our social media channels (for example, by providing a testimonial about one of our Services) we may publish the information you submitted, alongside your name and home country on our website and social media channels;</li>
                <li>as we reasonably believe is permitted by law or regulation;</li>
                <li>in order to comply with any legal obligation, or in order to enforce or apply our terms and conditions and/or any other agreement with you; or to protect the rights, property, or safety of Ozma, our users, or others;</li>
            </ul>
        </p>

        <h2>Interaction with third party social networks or platforms</h2>
        <p>You can allow our Services to interact with a third party social network (like Facebook) or platform, which will provide data about you to us. These applications or websites are created and maintained by a third party, and thus not controlled by Ozma. You should ensure that you read their terms of service and privacy policies to understand how they treat your data and what data they might share with us.</p>
        <p>You understand that where you allow your account with us to interact with any third party social network or platform, we may share data about you with your contacts (and vice versa) in order that you may enjoy playing socially. This data includes your name, your social media profile picture and your scores and/or progress in our games.</p>
        <p>You can make changes to what data a third party social network or platform shares with us, or stop our Services interacting with that social network or platform by adjusting your settings with that third party provider, however you may find you are not able to enjoy all of the same features of our Services.</p>

        <h2>Protecting your Personal Information</h2>
        <p>We use the same level of skill in protecting your Personal Information as other similar games developers. However, since the internet is not a completely secure environment unfortunately we cannot guarantee that information you transmit via our Games will not be accessed, disclosed, altered or destroyed by breach of any of our safeguards.</p>
        <p>We will retain your Personal Information for as long as is necessary to fulfill the purposes for which it was collected or as needed to provide you with Services. We may retain your Personal Information after you have closed any account you have with us or after we have ceased providing Services to you if retention of your Personal Information is reasonably necessary to comply with our legal obligations, meet regulatory requirements, resolve disputes between members, prevent fraud, cheating or abuse, or enforce this Privacy Policy or any other agreement we may have with a user.</p>

        <h2>Your rights in relation to your Personal Information</h2>
        <p>We want to make sure that your Personal Information is accurate and up to date. You may ask us to modify, correct or remove information by contacting us at the email address above.</p>
        <p>Information that you have shared via our Services on any social network or third party platform cannot be amended or deleted by us where it is in the control of that social network or third party platform. In addition, where any third party copies information which you have made available via the use of our Services (for example, one of your friends on a social network you allow to interact with your account), we may not be able to amend or delete it because it may not be in our control.</p>
        <p>You have the right to request a copy of the information that we hold about you. If you would like a copy of some or all of your Personal Information, please contact us at <a href="mailto:support@ozmagames.com">support@ozmagames.com</a> (we may make a small charge for this).</p>

        <h2>How to contact us</h2>
        <p>To find out more about how your Personal Information will be used please contact us by email at <a href="mailto:support@ozmagames.com">support@ozmagames.com</a>.</p>

        <h2>Legal matters</h2>
        <p>This Privacy Policy is governed by and interpreted in accordance with the laws of Sweden. Any dispute arising in connection with this Privacy Policy will be subject to the exclusive jurisdiction of the courts of Sweden unless you choose the courts of your home country.</p>
        <p>If any court or other competent authority finds any of the terms of this Privacy Policy to be invalid or unenforceable, the other terms of this Privacy Policy will not be affected.</p>
        <p>We may amend this Privacy Policy from time to time to reflect improvements or any other changes to our business. We will do our best to inform you about any significant changes to this Privacy Policy. If you object to any of the changes you should immediately stop using our Services and close any account you may have with us.</p>
    </article>
</body>
</html>