/*
@import this file directly into your existing Scss files to use these mixins
*/
@mixin sprite-images-icons-coins() {
/* You may have to set 'display: block' */
	width: 240px;
	height: 70px;
	background: url('icons.png') 0 0;
}
@mixin sprite-images-icons-storage() {
/* You may have to set 'display: block' */
	width: 240px;
	height: 70px;
	background: url('icons.png') 0 -70px;
}
